<header>
  <div>
    <app-navbar-j></app-navbar-j>
  </div>
</header>
<div id="main" class="main" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="workship col-md-11">
          <h2>Acerca de nuestra tienda</h2>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <p>
              JEM Boutique nació en el año 2018 como una PYME de emprendimiento familiar.
              En nuestra tienda online puedes vestir a toda tu familia ya que contamos con departamento de dama,
              caballero y niñ@s.
              Contamos con muchas prendas disponibles para entrega inmediata y traemos
              muchas mas en colecciones semanales de contra pedido.
            </p>
          </div>
          <div class="col-md-5">
            <p>
              Nos ingresa mercadería nueva todas las semanas y nuestros precios son muy accesibles y si compras más de 6 piezas las cuales pueden ser variadas, te damos un descuento adicional.
              Todas las prendas que vendemos de marca son 100% originales para su seguridad y todas cuenta con la garantía de ley.
              Puedes realizar sus pedidos a través de la página o comunicándose al whatsapp
              <a href="https://wa.me/50683364867?" target="_blank"
              class="whatsapp">8336-4867</a>.
            </p>
          </div>
          <div style="margin-left: 30%;" class="col-md-12">
            <h3>¡Gracias por apoyar emprendimientos nacionales!</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
</div>
<footer>
  <app-footer></app-footer>
</footer>
