<header>
  <app-navbar-j></app-navbar-j>
</header>
<div id="main" class="main" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-1" class="carousel slide landing" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/assets/Images/66d0fbc4-84e3-4a43-ba69-145d76cb0e03.jpg" style="width: 156%;" alt=""/>
            </div>
            <div class="item">
              <img src="/assets/Images/5f7ca890-e5c1-4973-ac27-1f83717d83ea.jpg" style="width: 156%;" alt=""/>
            </div>
            <div class="item">
              <img src="/assets/Images/cc9fe0d6-9fc3-4964-9802-b53c3276247f.jpg" style="width: 156%;" alt=""/>
            </div>
          </div>
          <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" arial-hidden="true"></span>
            <span class="sr-only">Anterior</span>
          </a>
          <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" arial-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
          </a>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 catalogue">
            <h2>Catálogo</h2>
          </div>
          <div class=" col-lg-10 genders">
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <!--<div class="gender">
                  <div class="imgbox">
                    <div id="carousel-1" class="carousel slide " data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img src="assets/Images/new_images/8389182e-6a63-4c64-ad68-20e37bfa6ca8.jpg" alt=""/>
                        </div>
                        <div class="item">
                          <img src="assets/Images/new_images/4856b418-b187-45be-a9d2-ea230787f812.jpg" class="imgSlider" alt=""/>
                        </div>
                        <div class="item">
                          <img src="assets/Images/new_images/71c89e8e-7000-4135-a5c0-a62ce234ae55.jpg" class="imgSlider"  alt=""/>
                        </div>
                        <div class="item">
                          <img src="assets/Images/new_images/ed4eb2b4-2af0-4aea-9cad-9fb981f9a946.jpg" class="imgSlider"  alt=""/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="details">
                    <h5 style="font-weight: bold;">Damas</h5>
                  </div>
                </div>-->
                <a class="btnhover" (click)="toggleBtnProducts('2')">
                  <div id="carousel-1" class="carousel slide " data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/Images/new_images/8389182e-6a63-4c64-ad68-20e37bfa6ca8.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Damas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/4856b418-b187-45be-a9d2-ea230787f812.jpg" class="imgSlider" alt=""/>
                        <div class="carousel-caption">
                          <h3>Damas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/71c89e8e-7000-4135-a5c0-a62ce234ae55.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Damas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/ed4eb2b4-2af0-4aea-9cad-9fb981f9a946.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Damas</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a class="btnhover" (click)="toggleBtnProducts('1')">
                  <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/Images/new_images/a8a70d71-a45c-4d6f-90bb-2babe4b75ba9.jpg" class="imgSlider"   alt=""/>
                        <div class="carousel-caption">
                          <h3>Caballeros</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/323291c6-7211-4d5d-a991-6afa1d148c14.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Caballeros</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/71dfd568-4e5f-48e5-872f-eb9069216d71.jpg" class="imgSlider"   alt=""/>
                        <div class="carousel-caption">
                          <h3>Caballeros</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/69f21fde-bb28-43b7-bdf1-268373b75438.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Caballeros</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3">
                <a class="btnhover" (click)="toggleBtnProducts('3')">
                  <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/Images/new_images/94fb3c94-1217-4ed8-bdfc-399bc44385dd.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niños</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/3af141a7-bc65-4ddd-b665-b1f0881d31bb.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niños</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/bc7645df-45b5-4584-9a16-9bb07e44dfaa.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niños</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/58baadd3-ec27-49a9-9925-a0f91aed0ddf.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niños</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xs-6 col-md-3 margin">
                <a class="btnhover" (click)="toggleBtnProducts('4')">
                  <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                        <img src="assets/Images/new_images/4ad9312f-0b46-4a44-ab03-5db5495da2db.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niñas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/70b9d810-7110-4cc0-9bb1-030b9ec43ba5.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niñas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/dc0f7041-d071-4982-ad44-86ffb0ec7207.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niñas</h3>
                        </div>
                      </div>
                      <div class="item">
                        <img src="assets/Images/new_images/f88c2731-708a-4e5d-86e6-df872b4b84a7.jpg" class="imgSlider"  alt=""/>
                        <div class="carousel-caption">
                          <h3>Niñas</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="/assets/Images/1.png" alt="#">
          </div>
          <h2>Pago Fácil y Seguro</h2>
        </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="/assets/Images/2.png" alt="#">
            </div>
            <h2>Productos de Calidad</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="/assets/Images/3.png" alt="#">
            </div>
            <h2>Envios a todo el país</h2>
          </div>
        </div>
    </div>

  </div>
  <app-whatsapp></app-whatsapp>
</div>

<div class="container">
  <div class="row" id="slider-text">
    <div class="col-md-6" >
      <h2>NOVEDADES</h2>
    </div>
  </div>
</div>

<!--<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner" *ngFor="let newProduct of newNess">
          <div class="item active">

            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img [src]="newProduct.photo" class="img-responsive center-block"></a>
              <h4 class="text-center">{{newProduct.name}}</h4>
              <h5 class="text-center">{{newProduct.pricePublic}}</h5>
            </div>

          </div>
        </div>
        <div id="slider-control">
          <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left" class="img-responsive"></a>
          <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right" class="img-responsive"></a>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!-- Item slider-->

<!--<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="carousel carousel-showmanymoveone slide" id="itemslider">
        <div class="carousel-inner">

          <div class="item active">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img [src]="newNess[0].photo" class="img-responsive center-block"></a>
              <h4 class="text-center">{{newNess[0].name}}</h4>
              <h5 class="text-center">{{newNess[0].pricePublic}}</h5>
            </div>
          </div>

          <div class="item" *ngFor="let newProduct of newNessView">
            <div class="col-xs-12 col-sm-6 col-md-2">
              <a href="#"><img [src]="newProduct.photo" class="img-responsive center-block"></a>
              <h4 class="text-center">{{newProduct.name}}</h4>
              <h5 class="text-center">{{newProduct.pricePublic}}</h5>
            </div>
          </div>

        </div>

        <div id="slider-control">
        <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="https://cdn0.iconfinder.com/data/icons/website-kit-2/512/icon_402-512.png" alt="Left" class="img-responsive"></a>
        <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="http://pixsector.com/cache/81183b13/avcc910c4ee5888b858fe.png" alt="Right" class="img-responsive"></a>
      </div>
      </div>
    </div>
  </div>
</div>-->

<br>
<div class="promo">
  <h2>¡Aprovecha nuestras ofertas!</h2>
  <h4>Siempre estamos renovando nuestro catálogo, no te pierdas lo nuevo en promoción.</h4>
  <a (click)="toggleBtn('ofertas')" class="btn btn--pink btn--pill">Ir</a>
</div>
<div class="main">
  <div class="container-fluid" *ngIf="boolOutfit">
    <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
      <div class="slider" id="slider">
        <h3 (click)="gotoOutfits('outfits', 2)">Outfits</h3>
        <div class="slide" id="slide">
          <div class="item" *ngFor="let outfit of outfitList"
          data-toggle="modal" data-target="#outfitModal" (click)="showDataOutfit(outfit)">
            <div class="slide-img">
              <img loading="lazy" ngClass="lazyload" [src]="outfit.photo" alt="">
            </div>
            <div class="detail-box">
              <a style="text-decoration: none;"> {{outfit.name}}</a>
            </div>
          </div>
        </div>
        <button class="ctrl-btn pro-prev" (click)="productScroll()">Previo</button>
        <button class="ctrl-btn pro-next">Siguiente</button>
      </div>
    </section>
  </div>
  <div class="container-fluid" *ngIf="!boolOutfit">
    <section class="ftco-section ftco-choose ftco-no-pb ftco-no-pt">
      <div class="row ">
        <div class="col-md-8 d-flex align-items-stretch">
          <img (click)="gotoOutfits('outfits', 2)" class="img-responsive" src="assets/Images/about-1.jpg" alt="">
        </div>
        <div class="col-md-4 py-md-5">
          <div class="text py-3 py-md-5">
            <h2 class="mb-4">Nuevos outfits colección 2020</h2>
            <p>Solo para ti hicimos outfit con nuestras prendas disponibles y así ver opciones de
              cómo combinar las diferentes prendas que te ofrecemos.</p>
            <a (click)="gotoOutfits('outfits', 2)" class="btn btn--pink btn--pill">Mirar</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 order-md-last d-flex align-items-stretch">
            <img (click)="gotoOutfits('outfits', 1)" class="img-responsive img-2" src="assets/Images/about-2.jpg" alt="">
          </div>
          <div class="col-md-7 py-3 py-md-5">
            <div class="text text-2 py-md-5">
              <h2 class="mb-4">Outfits para caballeros colección 2020</h2>
              <p>Por que todos necesitamos opciones,
                prueba ahora algunas combinaciones de nuestras prendas para todos los estilos y preferencias.</p>
              <a (click)="gotoOutfits('outfits', 1)" class="btn btn--pink btn--pill">Mirar</a>
            </div>
          </div>
        </div>
    </div>
    </section>
</div>


<div class="modal fade" id="outfitModal" tabindex="-1" role="dialog" aria-labelledby="alertPaymentTitle"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Prendas Del Outfit.</h2>
        <i class="fa fa-times close" data-dismiss="modal"></i>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <div class="row">
          <div class="col-md-12 col-xs-6 col-s-6">
            <div>
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-6 col-xs-6" *ngFor="let products of showOutfitModal.articles">
                  <img loading="lazy" ngClass="lazyload" class="miniature" [src]="products.photo" alt="">
                  <a  class="titleProduct" data-dismiss="modal"
                  (click)="gotoDetail(products.id)">{{products.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
