@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
body{
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	display: block;
}

.landing{
  margin-top: 8.1%;
	margin-left: 11px;
	width: 100%;
}

.row{
	margin-left: -3%;
	margin-bottom: 3%;
}


.catalogue{
  margin-left: 47%;
}

.btnhover:hover{
	cursor: pointer;
}

.genders{
	margin-top: 1%;
	margin-left: 9%;
}

.feature {
	text-align: center;
	background: #f8f8f8;
	height: 100%;
}

.feature:nth-child(2) {
  /*background: #2ab6f7;*/
  background: #b478ec;
}

.feature:nth-child(2) h2 {
	color: #fff;
}

.feature-inner {
	padding: 20px 25px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.feature .feature-icon {
	display: inline-block;
	margin-right: 15px;
}

.feature h2 {
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
}

  /* ==========================================================================
   #BUTTON
   ========================================================================== */

  .btn-secondary{
    margin-top: 10%;
  }

  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .btn--green {
    background: #57b846;
    color: white;
  }

  .btn--pink {
    font-weight: bold;
    background: transparent;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: rgb(71, 69, 69);
  }

  .btn--pink:hover {
    background: #d68fff;
    color: white;
  }

  .btn--green:hover {
    background: #4dae3c;
  }

  .btn--blue {
    background: #4272d7;
    color: #f5f6fa;
  }


  .btn--blue:hover {
    background: #3868cd;
  }

  .btn--red {
    background: #ff4b5a;
  }

  .btn--red:hover {
    background: #eb3746;
  }

  .input-goup-desc button {
    margin-top: 45%;
  }

/*====================================================================
   #Outfit&promo
=======================================================================*/

.ftco-section {
  padding: 9em 0;
  position: relative;
}

.ftco-choose h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

.ftco-choose .img {
  width: 100%;
}

.ftco-no-pt {
  padding-top: 0 !important;
}

.ftco-no-pb {
  padding-bottom: 0 !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.rowscss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.ftco-animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.mb-4 {
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}

.offersBanner {
  background-image: url("/assets/Images/Image7.jpg");
}

.imgs{
  background-image: url("/assets/Images/damas1.jpg");
}

.img-2 {
  position: relative;
  left: 149%;
  bottom: 99px;
  border: 10px solid white;
}

.text p {
  font-family: 'Dosis', sans-serif;
  color: #918e8e;
  font-size: 26px;
}

.text-2 {
  position: relative;
  right: 62%;
}

.promo {
  padding: 69px 530px 62px;
  margin-bottom: 20px;
  color: #918d8d;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}
.promo .btn {
  font-size: 25px;
  padding: 3px 19px;
  margin-left: 50%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px; }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; }
}

@media (max-width: 767px) {
  .img-2 {
    position: initial;
  }
  .text-2 {
    position: initial;
  }
  .promo {
    padding: 13px 26px 8px;
  }
}
@media (max-width: 767.98px) {
  .ftco-choose {
    padding: 3em 0;
  }
  .ftco-section {
    padding: 6em 0;
  }
  .ftco-choose .img {
    height: 350px;
  }
  .carousel{
    display: ruby;
  }
  .d-flex{
    max-width: 90%;
  }
  .row {
    margin-left: -7%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .ftco-choose .text {
    margin-left: -200px;
  }
  .ftco-choose .text .text-2 {
    margin-left: 0;
  }
}
