/* ==========================================================================
   #MODAL
  ========================================================================== */
a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 35px 8px 10px 8px;
  color: #838181;
}

.registerText{
	margin-top: 10px;
  text-align: center;
  background-color: #fff;
}

.registerText:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
}

/* TABS */

h2 {
  color:#676768;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input [type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder,
input [type="password"]:placeholder {
  color: #cccccc;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 4%;
  margin-left: 35%;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.close{
  position: absolute;
	top: 7%;
	right: 4.5%;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}


/* ANIMATIONS */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

.alert-login{
  color: rgb(240, 49, 49);
  margin-bottom: 5px;
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  opacity: 0;
  font-weight: bold;
  -webkit-animation: modal-header ease-in 1;
  -moz-animation: modal-header ease-in 1;
  animation: modal-header ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.modal-header.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@media (max-width: 767px) {

  #formContent {
    margin-left: 6%;
  }
}

/* ==========================================================================
   #NAVBAR
  ========================================================================== */
.container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.logoStyle{
	width: 49px;
	height: 49px;
}

.navbar-brand
{
  font-family: 'Lustria', serif;
  font-weight:bold;
  color:#1D1F20;

}
.navbar-default .navbar-nav>li>a:hover
{
  color:#ad59f1;
  font-size: 20px;
  transition: 0.2s;
}

.navbar-collapse>.navMenu {
  margin-top: 20%;

}

/*!TO BE FIXED!*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  color:#eee;
  background-color: cadetblue;
}

.collapse>ul>.menuNav{
  margin-top: 2%;
}
.navbar
{
  margin-bottom:0px;
  background-color:rgb(217, 229, 243);
  padding-right: 10px;
  font-weight: bold;
}
.container-fluid
{
  padding:0px;
}

/* ==========================================================================
   #DROPDOWN_PROFILE
  ========================================================================== */
.profile-pic {
  width: 40px;
  border-radius: 100%;
}

.dropdown-menu {
  font-weight: bold;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border-color: #c8d6e5;
}

.dropdown-item {
  padding: 7px 1.5rem;
}

ul.dropdown-user {
  padding: 0px;
  min-width: 270px;
}
li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.divider{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #c8d6e5;
}
.dw-user-box{
  padding: 10px 15px;
}
.u-img{
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
img{
  width: 100%;
  border-radius: 5px;
}
.u-text {
  display: inline-block;
  padding-left: 10px;
}
h4 {
  margin: 0px;
 font-size: 15px;
}
p{
  margin-bottom: 2px;
  font-size: 12px;
}
.btn {
  color: white;
  padding: 5px 10px;
  display: inline-block;
}
.btn:hover{
  background: #636e72;
}

a {
  padding: 9px 15px;
  display: block;
  color: #2d3436;
}

a:hover{
  background: #c8d6e5;
  color: #686de0;
  text-decoration: none;
}