/* ==========================================================================
   #MODAL
  ========================================================================== */
a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

.dropdown-user a:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 35px 8px 10px 8px;
  color: #838181;
}

.registerText{
	margin-top: 10px;
  text-align: center;
  background-color: #fff;
}

.register:hover {
  color: #92badd;
  text-decoration: none;
  background-color: transparent;
}

.registerText:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

/* TABS */

h2 {
  color:#676768;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #39ace7;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type="text"],
input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input [type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type="text"]:placeholder,
input [type="password"]:placeholder {
  color: #cccccc;
}

.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 4%;
  margin-left: 35%;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.close{
  position: absolute;
	top: 4.5%;
	right: 4.5%;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}


/* ANIMATIONS */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-family: 'Josefin Sans', sans-serif;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeIn.fifth {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
  text-decoration: none;
  background-color: transparent;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
  text-decoration: none;
  background-color: transparent;
}

.underlineHover:hover:after {
  width: 100%;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

.alert-login{
  color: rgb(240, 49, 49);
  margin-bottom: 5px;
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  opacity: 0;
  font-weight: bold;
  -webkit-animation: modal-header ease-in 1;
  -moz-animation: modal-header ease-in 1;
  animation: modal-header ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.modal-header.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@media (max-width: 767px) {

  #formContent {
    margin-left: 6%;
  }
}

/* ==========================================================================
   #DROPDOWN_PROFILE
  ========================================================================== */
.profile-pic {
  width: 66px;
  height: 48px;
  border-radius: 100%;
}

.dropdown-menu {
  font-weight: bold;
  margin-left: -244%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  border-color: #c8d6e5;
}

.dropdown-item {
  padding: 7px 1.5rem;
}

ul.dropdown-user {
  padding: 0px;
  min-width: 270px;
}
li{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.divider{
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #c8d6e5;
}
.dw-user-box{
  padding: 10px 15px;
}
.u-img{
  width: 70px;
  display: inline-block;
  vertical-align: top;
}
img{
  width: 100%;
  border-radius: 5px;
}
.u-text {
  display: inline-block;
  padding-left: 10px;
}
h4 {
  margin: 0px;
 font-size: 15px;
}
p{
  margin-bottom: 2px;
  font-size: 12px;
}
.btn {
  color: white;
  padding: 5px 10px;
  display: inline-block;
}
.btn:hover{
  background: #636e72;
}

a {
  padding: 9px 15px;
  display: block;
  color: #2d3436;
}

a:hover{
  background: #c8d6e5;
  color: #686de0;
  text-decoration: none;
}

/*
==============================================================================
    NAVBARTEST
==============================================================================
*/


/*------------------
  Header section
---------------------*/

.header-top {
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
}

.site-logo {
  display: inline-block;
  width: 23%;
  margin-right: 20%;
}

.text-lg-left {
  width: 280px;
}

.pointerRegister:hover {
  cursor: pointer;
}

.text-lg-left:hover {
  text-decoration: none;
  background-color: transparent;
}

.labelLogin {
  margin-left: 35%;
}

.labelLog {
  position: relative;
  left: 870px;
  bottom: 15px;
}

.text-right {
  margin-left: 20%;
}

.user-panel {
  position: relative;
  top: 20px;
  left: 100px;
}

.user-panel .up-item {
  display: inline-block;
	font-size: 14px;
}

.user-panel .up-item i {
  display: inline-block;
  font-size: 22px;
}

.user-panel .up-item a {
  display: inline-block;
	font-size: 14px;
	color: #000;
}

.user-panel .up-item a:hover {
  text-decoration: none;
  background-color: transparent;
  color: #f51167;
}

.user-panel .up-item:first-child {
	margin-right: 29px;
}

.shopping-card {
	display: inline;
	position: relative;
}

.shopping-card span {
	position: absolute;
	top: -4px;
	left: 100%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #f51167;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -7px;
}

.main-navbar {
	background: #525050;
}

.slicknav_menu {
	display: none;
}

.main-menu {
	list-style: none;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
  position: relative;
}

.main-menu li a .new {
	position: absolute;
	top: -8px;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	background: #f51167;
	line-height: 1;
	text-transform: uppercase;
	left: calc(50% - 21px);
	padding: 5px 9px 1px;
	border-radius: 15px;
	width: 42px;
}

.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}

.main-menu li:hover>a {
  color: #11f5ea;
  text-decoration: none;
  background-color: transparent;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #11f5ea;
}

.nav-switch {
	display: none;
}
@media (max-width: 1024px) {
  .user-panel {
    top: 10px;
  }
}
@media (max-width: 767px) {
	.site-logo {
    margin-left: 60%;
    width: 40%;
    height: 40%;
  }

  .text-lg-left {
    display: none;
  }

  .labelLog {
    left: 0;
    bottom: 0;
  }

  .user-panel .up-item{
    display: inline-flex;
  }

  .user-panel .up-item a {
    display: inline-block;
  }

  .user-panel .up-item i {
    display: inline-block;
  }

  .labelLogin {
    text-align: center;
    position: relative;
    left: -55%;
  }

	.login {
    margin-bottom: 6%;
    left: 272px;
  }

  .user-panel {
    top: 10px;
  }

  .menu-btn {
    margin-top: 6px;
    margin-left: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }

  .main-menu li {
    display: block;
  }

  /*===========================================
    BURGER NAVBAR
  =============================================
  */

  .menu-burger {
    width: 26px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-burger::before {
    transform: translateY(-9px);
  }
  .menu-burger::after {
    transform: translateY(9px);
  }

  /* ANIMATION */
  .menu-btn.open .menu-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

}
