<header class="header-section navbar-fixed-top">
  <div class="header-top">
    <div class="row">
      <div class="col-xs-12 col-lg-3 text-lg-left">
        <a href="/Home/BJem"><img class="site-logo" src="assets/Images/Logo.png" alt=""></a>
      </div>
      <div class="col-xs-12 col-lg-5 labelLogin" *ngIf="!identity">
        <div class="user-panel">
          <div class="up-item">
            <i class="far fa-user" aria-hidden="true"></i>
            <a href="" data-toggle="modal" data-target="#loginmodal">Iniciar Sesión</a> o
            <a class="pointerRegister" (click)="gotoRegister()">Crea una Cuenta</a>
          </div>
          <div class="up-item">
            <div class="shopping-card">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <span>0</span>
            </div>
            <a href="#">Carrito</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-5 " *ngIf="identity">
        <div class="user-panel">
          <div class="up-item labelLog">
            <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button">
              <img src="assets/Images/4.jpg" alt="user" class="profile-pic">
            </a>
            <div class="dropdown-menu">
              <ul class="dropdown-user">
                <li>
                  <div class="dw-user-box">
                    <div class="u-img"><img src="assets/Images/4.jpg" alt="user"></div>
                    <div class="u-text">
                      <h4>{{identity.name}}</h4>
                      <p class="text-muted">{{identity.phone}}</p>
                    </div>
                  </div>
                </li>
                <li role="separator" class="divider"></li>
                <li><a (click)="gotoConfig()"><i class="fas fa-user-tie"></i> Mi perfil</a></li>
                <li><a href="#"><i class="fas fa-list-alt"></i> Historial</a></li>
                <li><a (click)="gotoFavorites()"><i class="fa fa-heart"></i> favoritos</a></li>
                <li role="separator" class="divider"></li>
                <li>
                  <div class="shopping-card">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>{{purchaselenght}}</span>
                  </div>
                  <a (click)="gotoCart()">Carrito</a>
                </li>
                <li role="separator" class="divider"></li>
                <li><a (click)="logout()" href="/Home/BJem"><i class="fa fa-power-off"></i> Cerrar Sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav role="navigation" class="navbar main-navbar">
    <div class="menu-btn navbar-toggler collapsed" (click)="toggleBurger()" data-toggle="collapse" data-target="#collapsingNavbar2">
      <div class="menu-burger"></div>
    </div>
    <div class="navbar-collapse collapse container" id="collapsingNavbar2">
      <ul class="main-menu navbar-nav mx-auto">
        <li class="menuNavBar"><a href="Home/BJem">Inicio</a></li>
        <li class="menuNavBar"><a href="Home/Damas/J">Damas</a></li>
        <li class="menuNavBar"><a href="Home/Caballeros/J">Caballeros</a></li>
        <li class="menuNavBar"><a href="Home/Niños/J">Niños</a></li>
        <li class="menuNavBar"><a href="Home/Niñas">Niñas</a></li>
      </ul>
    </div>
  </nav>
</header>
<div class="modal fadeInDown" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content wrapper" id="formContent" role="document">
    <div class="modal-header first">
      <i class="fa fa-times close" data-dismiss="modal"></i>
      <h2 id="modalLabel">¡Inicia sesión en tu cuenta de Bambu Jeans!</h2>
    </div>
    <div class="modal-body">
      <form #loginForm="ngForm" class="login-form">
        <input class="fadeIn second" type="text" name="phone" #phone="ngModel"
        [(ngModel)]="client.phone" placeholder="Usuario (Teléfono)">
        <input class="fadeIn third" type="password" name="password" #password="ngModel"
        [(ngModel)]="client.password"  placeholder="Contraseña">
        <input class="fadeIn fourth" data-dismiss="modal"
        (click)="Onsubmit(loginForm)" type="submit" value="Iniciar sesión"><br>
        <div class="alert-login" *ngIf="status == 'error'">
          Usuario o contraseña incorrecta.
        </div>
      </form>
      <div class="fadeIn fifth" id="formFooter">
        <a class="underlineHover" href="#">Olvidaste tu contraseña?</a>
      </div>
    </div>
    <div class="modal-footer fadeIn fifth">
      <div class="registerText">
        <p>
          No tienes cuenta?
        </p>
        <a class="register" data-dismiss="modal" (click)="gotoRegister()">Registrarte</a>
      </div>
    </div>
  </div>
</div>


