<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
	  
	  <h2>Administración Boutique Jem</h2>
    </div>
    <form #loginForm="ngForm">
	  <input type="text" id="login" class="fadeIn second"
	  name="user" #user="ngModel" [(ngModel)]="admin.user" placeholder="Usuario"/>
	  <input type="password" id="password" class="fadeIn third"
	  name="password" #password="ngModel" [(ngModel)]="admin.password" placeholder="Contraseña"/>
	  <div class="alert-login" *ngIf="status == 'error'">
		  Usuario o contraseña incorrecta.
	  </div>
	  <input type="submit" class="fadeIn fourth"
	  (click)="Onsubmit(loginForm)" value="Ingresar" data-toggle="modal" data-target="#exampleModal"/>
	  <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce,
		backdropBackgroundColour: 'rgba(190,190,186,0.3)', backdropBorderRadius: '10px',
		primaryColour: '#1D72EC', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
	  </ngx-loading>
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
