<header>
  <div *ngIf="shop_bool"><app-navbar-j></app-navbar-j></div>
  <div *ngIf="!shop_bool"><app-navbar-b></app-navbar-b></div>
</header>
<div id="main" class="main">
  <div class="container-fluid">	
    <div class="col-lg-6 catalogue">
      <h2>Damas</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="Home/BJem"><i class="fas fa-home">Inicio</i></a></li>
          <li class="breadcrumb-item active" aria-current="page">Damas</li>
        </ol>
      </nav>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 types">
        <div class="row">
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Articulo">        
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="assets/Images/cat%C3%A1logo/Damas/blu1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/blu2.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/blu3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Caballeros">            
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="assets/Images/cat%C3%A1logo/Damas/sh1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/sh2.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/sh3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niños">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="assets/Images/cat%C3%A1logo/Damas/ena1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/ena2.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/ena3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="assets/Images/cat%C3%A1logo/Damas/pan1.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/721/960" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="assets/Images/cat%C3%A1logo/Damas/pan3.jpg" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
          	<a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Levis de dama</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Levis de dama</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Levis de dama</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisetas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisetas</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisetas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Salidas de playa</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Salidas de playa</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Salidas de playa</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos de baño</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos de baño</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos de baño</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Abrigos y sacos</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Abrigos y sacos</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Abrigos y sacos</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestido</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestido</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestido</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a href="Home/Niñas">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorios</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorios</h3>
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://picsum.photos/1000/1200" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorios</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer> 
  <app-footer></app-footer>
</footer>
