.main{
	padding-top: 3%;
}

.catalogue{
	padding-left: 3%;
	padding-top: 3%;
}

.breadcrumbDiv{
	padding-left: 0;
	padding-top: 97px;
}

.breadcrumb{
	background: #ffffff00;
	font-weight: bold;
}

h3{
	color: rgb(253, 207, 108);
}

.types{
	padding-top: 5%;
	padding-left: 13%;
}

.list-items{
	padding-bottom: 4%;
}

.logoStyle{
	width: 50px;
	height: 50px;
}



@media (max-width: 767px){
	.catalogue{
		padding-left: 1%;
		padding-top: 10%;
	}
	.types{
		padding-top: 5%;
		padding-left: 2%;
	}
}