<header>
  <div *ngIf="shop_bool"><app-navbar-j></app-navbar-j></div>
  <div *ngIf="!shop_bool"><app-navbar-b></app-navbar-b></div>
</header>

<div id="main" class="main">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Damas</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3" *ngFor="let department of departments">
        <div class="catego" (click)="toggleBtn(department.id)">
          <div class="imgbox">
            <img [src]="department.img" alt=""
             class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">{{department.department}}</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
