<header>
  <app-navbar-j></app-navbar-j>
</header>
<div class="wrapper wrapper--w1500">
  <div class="card card-5">
    <div class="card-heading">
      <h2 class="title">Restablecer contraseña</h2>
    </div>
    <div class="card-body">
      <form #resetPassword="ngForm">
        <div class="row">
          <div class="col-md-2">
            <label style="margin-top: 15px" for="">Email:</label>
          </div>
          <div class="col-md-10">
            <input type="email" class="input--style-5" name="email" id="email" [(ngModel)]="form.email" required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label style="margin-top: 15px" for="">Contraseña:</label>
          </div>
          <div class="col-md-10">
            <input type="password" class="input--style-5" name="password" id="password"
            [(ngModel)]="form.password" required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label style="margin-top: 15px" for="">Confirmar contraseña:</label>
          </div>
          <div class="col-md-10">
            <input type="password" class="input--style-5" name="password_confirmation" id="password_confirmation"
            [(ngModel)]="form.password_confirmation" required />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">
              Cambiar contraseña.
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading">Loading&#8230;</div>
<div class="overlay-container toast-top-left toast-container" toastContainer></div>
