.main{
	padding-top: 3%;
}


/*------- Start Bread Crumb --------*/
.organic-bread {
	margin-bottom: 100px;
	margin-top:100%;
}

.breadcrumb-banner {
	padding: 80px 0 50px 0;
}

h1 {
	font-family: 'Calistoga', cursive;
}

.breadcrumb .breadcrumb-item a {
	color: azure;
	text-decoration: none;
	cursor: pointer;
}

.breadcrumb .breadcrumb-item:hover {
	color: rgb(198, 206, 206);
}

.catalogue{
	position: relative;
	left: -1.2%;
	padding-top: 6%;
	width: 102.3%;
	color: azure;
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
}

.breadcrumbDiv{
	padding-left: 0;
	padding-top: 97px;
}

.breadcrumb{
	background: #ffffff00;
	font-weight: bold;
}

/* --------------
  Product page
------------------*/

.product-section {
	margin-top: 10%;
	margin-left: 0;
	padding-top: 70px;
	padding-bottom: 65px;
}

.back-link {
	padding-bottom: 50px;
}

.back-link a {
	font-size: 12px;
	color: #414141;
}

.product-pic-zoom {
	margin-bottom: 35px;
}

.product-thumbs-track {
	width: 1200px;
}

.product-thumbs .pt {
	width: 116px;
	height: 116px;
	float: left;
	margin-right: 31px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.product-thumbs .pt:last-child {
	margin-right: 0;
}

.product-thumbs .pt.active:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 2px solid #f51167;
	z-index: 1;
}

.product-details .p-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.product-details .p-price {
	font-size: 24px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 20px;
}

.product-details .p-stock {
	font-size: 12px;
	color: #000;
	font-weight: 700;
	color: #414141;
	margin-bottom: 10px;
}

.product-details .p-stock span {
	color: #f51167;
}

.product-details .p-rating {
	margin-bottom: 15px;
}

.product-details .p-rating i {
	color: #f51167;
}

.product-details .p-rating i.fa-fade {
	color: #e6e6e6;
}

.product-details .p-review {
	margin-bottom: 30px;
}

.product-details .p-review a {
	color: #414141;
	font-size: 14px;
	margin-right: 12px;
	margin-left: 12px;
}

.product-details .p-review a:first-child {
	margin-left: 0;
}

.product-details .fw-size-choose {
	border-bottom: none;
	margin-bottom: 30px;
	padding-bottom: 0;
}

.product-details .fw-size-choose p {
	float: left;
	margin-right: 38px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.product-details .fw-size-choose label {
	width: 33px;
	height: 33px;
	font-size: 12px;
	border: 2px solid #414141;
}

.product-details .fw-size-choose input[type=radio]:checked+label {
	border: 2px solid #f51167;
}

.product-details .fw-size-choose .disable label {
	border: 2px solid #e1e1e1;
	color: #cacaca;
}

.product-details .site-btn {
	min-width: 190px;
}

.product-details .social-sharing a:hover {
	color: #414141;
}

.quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
}

.quantity p {
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.quantity .pro-qty {
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}

.quantity .pro-qty .qtybtn {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}


.quantity .pro-qty input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}

.related-product-section {
	padding-bottom: 70px;
}

.related-product-section .section-title h2 {
	font-size: 24px;
	margin-bottom: 60px;
}

.site-btn{
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 0 30px;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  padding: 15px 30px 15px 15px;
  margin-bottom: 10%;
  cursor: pointer; 
  display: inline-block;
  text-align: center;
  box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-transform: uppercase;
}


.site-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);	
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.heart {
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -13%;
    right: 0;
    top: 43.5%;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}
.heart svg {
  fill: gray;
  width: 30px;
}

.heart span {
    pointer-events: none;
    display: block;
    width: 6px;
    height: 6px;
    background: #E12A50;
    opacity: 0;
    border-radius: 6px;
    position: absolute;
}

.heart-dots span{
  animation-name: hover;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.heart-liked span {
    animation-name: click;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s !important;
    animation-iteration-count: 1;
}

.heart-beating {
    animation-name: beat;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.heart-liked svg {
  fill: #dd3052;
}


.heart .i1 {
    top: -20px;
    left: 7px;
    background: #D0CFB6;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
.heart .i2 {
    top: -14px;
    left: 28px;
    background: #96E0DC;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.heart .i3 {
    top: 6px;
    left: 35px;
    background: #9997CA;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.heart .i4 {
    top: 27px;
    left: 31px;
    background: #D4D3BD;
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}
.heart .i5 {
    top: 37px;
    left: 8px;
    background: #B993E5;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.heart .i6 {
    top: 30px;
    left: -15px;
    background: #9d6cd5;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.heart .i7 {
    top: 7px;
    left: -18px;
    background: #D7A4BE;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.heart .i8 {
    top: -16px;
    left: -13px;
    background: #e7d9a7;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

webkit-keyframes hover{
  0%{
    opacity:1;
    transform:scale(0)}15%{
      opacity:1;-webkit-transform:scale(1);
      transform:scale(1)
  }
  100%{
    top:4px;
    left:7px;
    opacity:1;
  }
}

@keyframes hover{
  0%{
    opacity:1;
    transform:scale(0)
  }
  15%{
    opacity:1;
    transform:scale(1);
  }
  100%
  {
    top:4px;
    left:7px;
    opacity:1
  }
}


@keyframes click
{
  0%{
    top:4px;
    left:7px
  }
  15%{
    opacity:1;
    transform:scale(1.2) translateY(-50%);
  }
  70%{
    opacity:1;
    transform:scale(1) translateY(-50%);
  }
  100%{
    opacity:1;
      transform:scale(0) translateY(-50%);
  }
}


@keyframes beat{
  0%{
    transform:scale(1) translateY(-50%);;
    color:#C7C7C7
  }
  50%{
    transform:scale(1.35) translateY(-40%);
  }
  100%{
    transform:scale(1) translateY(-50%);
  }
}

/*-----radioBtn-----*/

.fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
}

.fw-color-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-color-choose input[type=radio]:checked+label {
	-webkit-box-shadow: 0 0 0 2px #f51167;
	box-shadow: 0 0 0 2px #f51167;
}

.fw-color-choose input[type=radio]:checked+label span {
	color: #b09d81;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
}

.fw-size-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type=radio]:checked+label {
	background: #f51167;
	color: #fff;
}


/* Accordion */

.accordion-area {
	margin-top: 50px;
	border-top: 2px solid #e1e1e1;
}

.accordion-area .panel {
	border-bottom: 2px solid #e1e1e1;
}

.accordion-area .panel-link {
	background-image: url("https://icon-library.net/images/arrow-down-image-icon/arrow-down-image-icon-12.jpg");
	background-repeat: no-repeat;
	background-position: right 10px top 30px;
}

.faq-accordion.accordion-area .panel-link,
.faq-accordion.accordion-area .panel-link.active.collapsed {
	padding: 17px 100px 17px 20px;
}

feature-inner
.faq-accordion.accordion-area .panel-link:after {
	right: 44px;
}

.accordion-area .panel-link.active {
	background-color: transparent;
}

.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed {
	text-align: left;
	position: relative;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	padding: 0;
	text-transform: uppercase;
	line-height: 1;
	cursor: pointer;
	border: none;
	min-height: 69px;
	background-color: transparent;
	border-radius: 0;
}

.accordion-area .panel-body {
	padding-top: 10px;
}

.accordion-area .panel-body p {
	color: #8f8f8f;
	margin-bottom: 25px;
	line-height: 1.8;
	text-align: justify;
}

.accordion-area .panel-body p span {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f51167;
}

.accordion-area .panel-body img {
	margin-bottom: 25px;
}

.accordion-area .panel-body h4 {
	font-size: 18px;
	margin-bottom: 20px;
}

.panel-body a {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f51167;
	text-decoration: none;
}

.panel-header i {
	padding-right: 20%;
}

.gallery {
	display: inline-block;
}

/*------------------------------------------
        RESPONSIVE
-------------------------------------------
*/

@media (max-width: 767px){
	.catalogue{
		padding-left: 1%;
		padding-top: 50%;
	}
}