<header>
  <div *ngIf="shop_bool">
    <app-navbar-j></app-navbar-j>
  </div>
  <div *ngIf="!shop_bool">
    <app-navbar-b></app-navbar-b>
  </div>
</header>
<div class="main" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Información de producto</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/BJem"><i class="fas fa-home">Inicio</i></a></li>
            <li class="breadcrumb-item"><a (click)="gotoBack()">{{product.department}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <div id="myModal" class="modal">
      <span class="close" data-dismiss="modal">&times;</span>
      <a [href]="fileUrl" download="Prenda_{{randomChar}}.jpg"><i class="fas fa-cloud-download-alt"></i></a>
      <img class="modal-content" [src]="product.photo" id="img01">
    </div>
    <!-- product section -->
    <section class="product-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <a (click)="downloadImg()" href="" data-toggle="modal" data-target="#myModal">
              <img class="prinImg" [src]="product.photo" alt="">
            </a>
            <div class="gallery">
              <div class="row">
                <div class="product-thumbs" style="overflow: hidden;">
                  <div class="product-thumbs-track" *ngFor="let img of fileNpm">
                    <div class="pt" (click)="changeImg(img.name, img.id)">
                      <img class="img-responsive imageStyle" [src]="img.name" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 product-details">
            <h2 class="p-title">{{product.name}}</h2>
            <h3 *ngIf="!offerBool" class="p-price">₡ {{product.pricePublic | number: '3.'}}</h3>
            <h4 *ngIf="offerBool" style="color: grey; font-weight: bold;"><del>₡ {{product.pricePublic | number: '3.'}}</del></h4>
            <!--<h3 *ngIf="offerBool" class="p-price">₡ {{offer.offer | number: '3.'}} <span class="p-stock"
            style="color: grey">+ Envio gratis</span></h3>
            <h4 class="p-stock">Precio al por mayor: <span style="color: grey">
                ₡ {{product.priceMajor | number: '3.'}} (Envío dependerá del tamaño de la compra)
              </span>
            </h4>-->
            <h4 class="p-stock"><span>Disponible</span></h4>
            <div class="fw-size-choose">
              <p>Talla</p>
              <div class="sc-item pc" *ngFor="let size of viewRelation">
                <input type="radio" name="sc" id="{{size.size}}" [value]="size.size" (click)="sizeAdd(size.size)">
                <input disabled *ngIf="size.pivot.stock <= 0" disabled type="radio" name="sc" id="{{size.size}}" [value]="size.size" (click)="sizeAdd(size.size)">
                <label aria-disabled="true" *ngIf="size.pivot.stock <= 0" style="border-color: rgb(117, 117, 117);
                color: rgb(131, 130, 130);
                font-weight: bold; font-size: 18px; cursor:no-drop;
                text-transform: uppercase;"
                for="{{size.size}}">{{size.size}}</label>
                <label style="font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;" *ngIf="size.pivot.stock > 0"
                for="{{size.size}}">{{size.size}}</label>
              </div>
            </div>
            <div class="quantity">
              <p>Cantidad</p>
              <div class="pro-qty">
                <span (click)="decQty()" class="dec qtybtn">-</span>
                <input type="text" value="{{valueQtyBtn}}">
                <span (click)="incQty()" class="inc qtybtn">+</span>
              </div>
            </div>
            <div class="addCart">
              <a (click)="addProductCart()" class="site-btn">
                agregar al carrito</a>
              <input (click)="addProductCart()" type="button"
              style="background-color:rgb(61, 226, 255); color: rgb(253, 253, 253); font-weight: bold;"
              value="agregar al carrito" class="btn btn--pill btnMobile">
              <div class="heart" (click)="like()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
                  <path
                    d="M150 57.3C100.2-17.4.7 26.3.7 107.6c0 55 49.7 94.2 87.1 123.8 38.8 30.7 49.8 37.3 62.2 49.8 12.4-12.4 22.8-19.7 62.2-49.8 37.9-29 87.1-69.4 87.1-124.4 0-80.7-99.5-124.4-149.3-49.7z"
                    fill-rule="evenodd" clip-rule="evenodd" />
                </svg>
              </div>
              <h4 *ngIf="NotifyUser" class="notifyAlert p-stock"><span>Inicia sesión para dar like</span></h4>
              <h4 *ngIf="NotifySuccess" class="notifyAlert p-success"><span>Producto añadido al carrito</span></h4>
              <h4 *ngIf="isClient" class="notifyAlert p-success">
                <span>Necesitas iniciar sesión antes de añadir una prenda</span>
              </h4>
              <h4 *ngIf="inventoryEmpty" class="notifyAlert p-stock">
                <span>Lo sentimos esta prenda esta agotada en esta talla</span>
              </h4>
            </div>
            <div id="accordion" class="accordion-area">
              <div class="panel">
                <div class="panel-header" id="headingOne">
                  <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true"
                    aria-controls="collapse1">Detalle de producto <i class="fas fa-chevron-down"></i></button>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="panel-body">
                    <p>{{product.detail}}</p>
                  </div>
                </div>
              </div>
              <!--<div class="panel">
                <div class="panel-header" id="headingTwo">
                  <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                    aria-controls="collapse2">Cuidados de la prenda <i class="fas fa-chevron-down"></i>
                  </button>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="panel-body">
                    <img src="./img/cards.png" alt="">
                    <p>Toda la mercadería que vendemos es original, no hay imitaciones para su tranquilidad..</p>
                  </div>
                </div>
              </div>-->
              <div class="panel">
                <div class="panel-header" id="headingThree">
                  <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                    aria-controls="collapse3">Envios & Devoluciones<i class="fas fa-chevron-down"></i></button>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="panel-body">
                    <h4>Todas las prendas tienen de garantía un mes.</h4>
                    <a href="#">Mira nuestras políticas de reembolso.</a>
                    <p>Entrega a domicilio <span>
                        1 días después del deposito</span></p>
                    <p>Los envíos se hacen por Correos de Costa Rica y Trali, el costo mínimo de envió depende del peso del paquete
                      , si el máximo es sobrepasado nosotros asumimos la diferencia.</p>
                    <p>
                      Los envíos son de Lunes a Viernes, una vez confirmado tu deposito el envió produce al día
                      siguiente, normalmente el transito es de un día al otro para que te llegue el pedido (no incluyen
                      feriados o fines de semana), sin embargo para que lo tomes en cuenta este es un servicio de un
                      tercero por lo que no nos podemos hacer responsables por el servicio que ellos prestan. Se te va a
                      enviar al número de celular que registraste la guía respectiva para que le puedas dar seguimiento
                      a tu paquete.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngIf="loading" class="loading">Loading&#8230;</div>
  <app-whatsapp></app-whatsapp>
<footer>
  <app-footer></app-footer>
</footer>
