<div class="containerNav">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <h2><a href="Home/Tu_Boutique" >Tu Boutique</a></h2>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="navbar-1" *ngIf="!identity">
          <ul class="nav navbar-nav">
            <li><a href="Home/Damas">Damas</a></li>
            <li><a href="Home/Caballeros">Caballeros</a></li>
            <li><a href="Home/Niños">Niños</a></li>
            <li><a href="Home/Niñas">Niñas</a></li>
            <li><a href="">Outfit</a></li>
            <li><a href="/Home/Nosotros">Sobre nosotros</a></li>
            <li><a href=""><i class="fa fa-shopping-cart"></i> Carrito</a></li>
           <li><a href="" data-toggle="modal" data-target="#loginmodal">Iniciar sesión</a></li>
         </ul>
       </div>
       <div class="collapse navbar-collapse navbar-right" id="navbar-1" *ngIf="identity">
          <ul class="nav navbar-nav">
            <li><a href="Home/Damas">Damas</a></li>
            <li><a href="Home/Caballeros">Caballeros</a></li>
            <li><a href="Home/Niños">Niños</a></li>
            <li><a href="Home/Niñas">Niñas</a></li>
            <li><a href="">Outfit</a></li>
            <li><a href="/Nosotros">Sobre nosotros</a></li>
            <li><a href=""><i class="fa fa-shopping-cart"></i> Carrito</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
              {{identity.name}} <i class="fa fa-user"></i><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">Mi Perfil</a></li>
                <li class="divider"></li>
                <li><a href="">Historial</a></li>
                <li class="divider"></li>
                <li><a (click)="logout()" href="Home/Tu_Boutique"><i class="fa fa-power-off"></i> Cerrar sesión</a>
                </li>  
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">¡Inicia sesión en tu cuenta de Bambu Jeans!</h5>
          <i class="fa fa-times close" data-dismiss="modal"></i>
        </div>
        <div class="modal-body">
          <form #loginForm="ngForm" class="login-form">
            <input class="txtb" type="text" name="phone" #phone="ngModel" [(ngModel)]="client.phone" placeholder="Usuario (Teléfono)">
            <input class="txtb" type="password" name="password" #password="ngModel" [(ngModel)]="client.password"  placeholder="Contraseña">
            <input class="loginbtn" data-dismiss="modal" (click)="Onsubmit(loginForm)" type="submit" value="Iniciar sesión"><br>
          </form><br>
          <div class="registerText">
            No tienes cuenta? <a class="register" data-dismiss="modal" (click)="gotoRegister()">Registrarte</a>
          </div>
        </div>
      </div>
    </div>  
  </div>