<header>
  <div *ngIf="shop_bool">
    <app-navbar-j></app-navbar-j>
  </div>
  <div *ngIf="!shop_bool">
    <app-navbar-b></app-navbar-b>
  </div>
</header>
<div class="main" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Carrito de Compras</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="Home/BJem"><i class="fas fa-chevron-left"></i>Seguir comprando</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="cart-table">
        <h3>Tus Compras</h3>
        <h4 class="title" *ngIf="productCount">
          Tu carrito tiene al menos 6 prendas; ¡Haz aplicado al el descuento por volumen!
        </h4>
        <div class="cart-table-warp">
          <table>
            <thead>
              <tr>
                <th class="product-th">Producto</th>
                <th class="quy-th">Cantidad</th>
                <th class="size-th">Talla</th>
                <th class="total-th">Precio</th>
              </tr>
            </thead>
            <tbody *ngIf="!productCount">
              <tr *ngFor="let product of productPurchase">
                <td class="product-col">
                  <img class="img-responsive" [src]="product.photo" alt="" />
                  <div class="pc-title">
                    <h4>{{ product.name }}</h4>
                    <p>₡ {{ product.pricePublic | number: "3." }}</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span (click)="decQty(product)" class="dec qtybtn">-</span>
                      <input type="text" [value]="product.pivot.amount" />
                      <span (click)="incQty(product)" class="inc qtybtn">+</span>
                    </div>
                  </div>
                </td>
                <td class="size-col">
                  <h4>{{ product.pivot.size }}</h4>
                </td>
                <td class="total-col">
                  <h4> ₡ {{ product.pricePublic * product.pivot.amount | number: "3."}} </h4>
                </td>
                <svg (click)="deleteProductBtn(product)" class="icon-trash" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 28 40" width="40" height="40">
                  <path class="trash-lid" fill-rule="evenodd"
                    d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                  <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                </svg>
              </tr>
            </tbody>
            <tbody *ngIf="productCount">
              <tr *ngFor="let product of productPurchase">
                <td class="product-col">
                  <img class="img-responsive" [src]="product.photo" alt="" />
                  <div class="pc-title">
                    <h4>{{ product.name }}</h4>
                    <p>₡ {{ product.priceMajor | number: "3." }}</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span (click)="decQty(product)" class="dec qtybtn">-</span>
                      <input type="text" [value]="product.pivot.amount" />
                      <span (click)="incQty(product)" class="inc qtybtn">+</span>
                    </div>
                  </div>
                </td>
                <td class="size-col">
                  <h4>{{ product.pivot.size }}</h4>
                </td>
                <td class="total-col">
                  <h4>
                    ₡
                    {{
                      product.priceMajor * product.pivot.amount | number: "3."
                    }}
                  </h4>
                </td>
                <svg (click)="deleteProductBtn(product)" class="icon-trash" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 28 40" width="40" height="40">
                  <path class="trash-lid" fill-rule="evenodd"
                    d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                  <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                </svg>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 card-right" style="align-items: right;">
      <div class="coupon">
        <div *ngIf="booleanCoupon" class="coupon-wrap">
          <input name="coupon" #coupon="ngModel" [(ngModel)]="couponClient" class="input--style-5" type="text" />
          <a (click)="verifyCoupon(couponClient)" class="view-btn color-2"><span>Aplicar</span></a>
          <h4 *ngIf="couponView != undefined && couponView == false" class="p-stock">
            <span>Cupón no disponible.</span>
          </h4>
          <h4 *ngIf="cuponExpirate" class="p-stock">
            <span>El cupón ya expiró.</span>
          </h4>
        </div>
        <a *ngIf="!booleanCoupon" (click)="activeCoupon()" class="coupon-btn">Tienes un cupón?</a>
        <a *ngIf="booleanCoupon" (click)="activeCoupon()" class="coupon-btn">Ocultar</a>
      </div>
      <div class="subtotal-area d-flex align-items-center justify-content-end">
        <div class="title text-uppercase">Subtotal</div>
        <div class="subtotal">₡ {{ productCart.price | number: "3." }}</div>
      </div>
      <div class="shipping-area d-flex justify-content-end">
        <div class="title text-uppercase">Envio</div>
        <div *ngIf="productCount" class="subtotal">
          ₡ {{ shipping | number: "3." }}
        </div>
        <div *ngIf="!productCount" class="subtotal">Envio gratuito</div>
      </div>
      <div *ngIf="couponView" class="shipping-area d-flex justify-content-end">
        <div class="title text-uppercase">Cupón</div>
        <div class="subtotal">₡ {{ couponActive.discount | number: "3." }}</div>
      </div>
      <a (click)="passCheckout()" class="checkout-btn">Pagar</a>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
</div>
<footer>
  <app-footer></app-footer>
</footer>
