<header>
  <div *ngIf="shop_bool">
    <app-navbar-j></app-navbar-j>
  </div>
  <div *ngIf="!shop_bool">
    <app-navbar-b></app-navbar-b>
  </div>
</header>
<div class="main" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Carrito de Compras</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="Home/BJem"><i class="fas fa-chevron-left"></i>Seguir comprando</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="cart-table">
        <h3>Tus Compras</h3>
        <h4 class="title" *ngIf="productCount">
          Tu carrito tiene al menos 6 prendas; ¡Haz aplicado al el descuento por volumen!
        </h4>
        <div class="cart-table-warp">
          <table>
            <thead>
              <tr>
                <th class="product-th">Producto</th>
                <th class="quy-th">Cantidad</th>
                <th class="size-th">Talla</th>
                <th class="total-th">Precio</th>
              </tr>
            </thead>
            <tbody *ngIf="!productCount">
              <tr *ngFor="let product of productPurchase">
                <td class="product-col">
                  <img class="img-responsive" [src]="product.photo" alt="" />
                  <div class="pc-title">
                    <h4>{{ product.name }}</h4>
                    <p *ngIf="idProductAlert == product.name && compareAmountAlert">
                      Solo queda(n) {{alertAmountStock}} en stock
                    </p>
                    <p>₡ {{ product.pricePublic | number: "3." }}</p>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span (click)="decQty(product)" class="dec qtybtn">-</span>
                      <input type="text" disabled [value]="product.pivot.amount" />
                      <span (click)="incQty(product)" class="inc qtybtn">+</span>
                    </div>
                  </div>
                </td>
                <td class="size-col">
                  <h4>{{ product.pivot.size }}</h4>
                </td>
                <td class="total-col">
                  <h4> ₡ {{ product.pricePublic * product.pivot.amount | number: "3."}} </h4>
                </td>
                <svg (click)="deleteProductBtn(product)" class="icon-trash" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 28 40" width="40" height="40">
                  <path class="trash-lid" fill-rule="evenodd"
                    d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                  <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                </svg>
              </tr>
            </tbody>
            <tbody *ngIf="productCount">
              <tr *ngFor="let product of productPurchase">
                <td class="product-col">
                  <img class="img-responsive" [src]="product.photo" alt="" />
                  <div class="pc-title">
                    <h4>{{ product.name }}</h4>
                    <p>₡ {{ product.priceMajor | number: "3." }}</p>
                    <span *ngIf="compareAmountAlert">Solo queda(n) {{alertAmountStock}} en stock</span>
                  </div>
                </td>
                <td class="quy-col">
                  <div class="quantity">
                    <div class="pro-qty">
                      <span (click)="decQty(product)" class="dec qtybtn">-</span>
                      <input disabled type="text" [value]="product.pivot.amount" />
                      <span *ngIf="compareAmountAlert"
                      (click)="incQty(product)" class="inc qtybtn">+</span>
                      <span *ngIf="!compareAmountAlert"
                      (click)="incQty(product)" class="inc qtybtn">+</span>
                    </div>
                  </div>
                </td>
                <td class="size-col">
                  <h4>{{ product.pivot.size }}</h4>
                </td>
                <td class="total-col">
                  <h4>
                    ₡
                    {{
                      product.priceMajor * product.pivot.amount | number: "3."
                    }}
                  </h4>
                </td>
                <svg (click)="deleteProductBtn(product)" class="icon-trash" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 28 40" width="40" height="40">
                  <path class="trash-lid" fill-rule="evenodd"
                    d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                  <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                </svg>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4 card-right" style="align-items: right;">
      <div class="coupon">
        <div *ngIf="booleanCoupon" class="coupon-wrap">
          <input name="coupon" #coupon="ngModel" [(ngModel)]="couponClient" class="input--style-5" type="text" />
          <a (click)="verifyCoupon(couponClient)" class="view-btn color-2"><span>Aplicar</span></a>
          <h4 *ngIf="couponView != undefined && couponView == false" class="p-stock">
            <span>Cupón no disponible.</span>
          </h4>
          <h4 *ngIf="cuponExpirate" class="p-stock">
            <span>El cupón ya expiró.</span>
          </h4>
        </div>
        <a *ngIf="!booleanCoupon" (click)="activeCoupon()" class="coupon-btn">Tienes un cupón?</a>
        <a *ngIf="booleanCoupon" (click)="activeCoupon()" class="coupon-btn">Ocultar</a>
      </div>
      <a class="coupon-btn" data-toggle="modal"
      data-target="#address">Agregar Dirección</a>
      <div class="subtotal-area d-flex align-items-center justify-content-end">
        <div class="title text-uppercase">Dirección </div>
        <div *ngIf="!viewAddressBool" class="subtotal">adjuntar direccion del cliente</div>
        <div *ngIf="viewAddressBool" class="subtotal">
          <p>{{addressPurchase.address}}</p>
          <p>{{addressPurchase.addressDetail}}</p>
        </div>
      </div>
      <div class="subtotal-area d-flex align-items-center justify-content-end">
        <div class="title text-uppercase">Subtotal</div>
        <div class="subtotal">₡ {{ productCart.price | number: "3." }}</div>
      </div>
      <div class="shipping-area d-flex justify-content-end">
        <div class="title text-uppercase">Envio</div>
        <div class="subtotal">
          ₡ {{ shipping | number: "3." }}
        </div>
      </div>
      <div *ngIf="couponView" class="shipping-area d-flex justify-content-end">
        <div class="title text-uppercase">Cupón</div>
        <div class="subtotal">₡ {{ couponActive.discount | number: "3." }}</div>
      </div>
      <!--<a (click)="passCheckout()" class="checkout-btn">Pagar</a>-->
      <a *ngIf="viewAddressBool"  class="checkout-btn" data-toggle="modal"
      data-target="#alertPayment">Pagar</a>
      <a *ngIf="!viewAddressBool"  class="checkout-btn" (click)="alertAddressNull()">
        Pagar
      </a>
      <div *ngIf="alertNullAddress" class="subtotal"
      style="margin-left: 25%; color: rgb(250, 26, 157); font-weight: bold;
      font-size: 15px; padding-bottom: 5%;">
        Por favor adjuntar direccion del cliente
      </div>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
</div>
<footer>
  <app-footer></app-footer>
</footer>
<div class="modal fade" id="address" tabindex="-1" role="dialog" aria-labelledby="addressTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-times close" data-dismiss="modal"></i>
        <h5 style="margin-left: 22%; font-weight: bold; font-size: 25px;" class="modal-title"
          id="terms&conditionsTitle">Información de Pago</h5>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <div style="font-size: 110%; font-weight: bold;">
          <p>Puedes añadir una dirección de envío diferente a la original si deseas.
          </p>
          <form action="">
            <div class="name">Dirección</div>
            <div class="form-row">
              <div class="value">
                <div class="row row-refine">
                  <div class="col-md-3 col-s-2">
                    <div class="input-group select-dropdown">
                      <select name="province" id="province" class="custom-select" [(ngModel)]="Province"
                      (click)="getCant(Province)">
                        <option disabled="disabled" selected="selected">--Seleccionar--</option>
                        <option *ngFor="let province of ArrayProvin" [value]="province.id">
                          {{province.name}}
                        </option>
                      </select>
                      <label class="label--desc">Provincia</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-s-2">
                    <div class="input-group select-dropdown">
                      <select name="province_can" id="province_can" class="custom-select" [(ngModel)]="Cant"
                      (click)="getDist(Province, Cant)">
                        <option disabled="disabled" selected="selected">--Seleccionar--</option>
                        <option *ngFor="let cant of ArrayCant" [value]="cant.id">
                          {{cant.name}}
                        </option>
                      </select>
                      <label class="label--desc">Cantón</label>
                    </div>
                  </div>
                  <div class="col-md-3 col-s-2">
                    <div class="input-group">
                      <div class="input-group select-dropdown">
                        <select name="distrit" id="distrit" class="custom-select" [(ngModel)]="District"
                        (click)="pushAddress(Province, Cant, District)">
                          <option disabled="disabled" selected="selected">--Seleccionar--</option>
                          <option *ngFor="let dist of ArrayDist" [value]="dist.id">
                            {{dist.name}}
                          </option>
                        </select>
                        <label class="label--desc">Distrito</label>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-3">
                    <div class="col-md-3">
                      <div class="input-group select-dropdown">
                        <select name="province" id="province" class="custom-select" [(ngModel)]="Province"
                        (click)="getCant(Province)">
                          <option disabled="disabled" selected="selected">--Seleccionar--</option>
                          <option *ngFor="let province of ArrayProvin" [value]="province.id">
                            {{province.name}}
                          </option>
                        </select>
                        <label class="label--desc">Provincia</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="col-md-3">
                      <div class="input-group select-dropdown">
                        <select name="province_can" id="province_can" class="custom-select" [(ngModel)]="Cant"
                        (click)="getDist(Province, Cant)">
                          <option disabled="disabled" selected="selected">--Seleccionar--</option>
                          <option *ngFor="let cant of ArrayCant" [value]="cant.id">
                            {{cant.name}}
                          </option>
                        </select>
                        <label class="label--desc">Cantón</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="input-group">
                      <div class="input-group select-dropdown">
                        <select name="distrit" id="distrit" class="custom-select" [(ngModel)]="District"
                        (click)="pushAddress(Province, Cant, District)">
                          <option disabled="disabled" selected="selected">--Seleccionar--</option>
                          <option *ngFor="let dist of ArrayDist" [value]="dist.id">
                            {{dist.name}}
                          </option>
                        </select>
                        <label class="label--desc">Distrito</label>
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="form-row m-b-55">
              <div class="name">Dirección detallada</div>
              <div class="value">
                <div class="input-group-desc">
                  <textarea class="input--style-5" style="resize: vertical;" name="addresDetail" id="addresDetail"
                    cols="30" rows="2" name="addresDetail" #addresDetail="ngModel"
                    [(ngModel)]="addressPurchase.addressDetail" required>
                  </textarea>
                </div>
              </div>
            </div>
            <label style="color: #f51167; margin-left: 31%;" *ngIf="addresAlert" for="">
              <span>Por favor rellena todos los campos</span>
            </label>
          </form>
          <a *ngIf="addresAlert" style="padding: 10px 61px 5px; margin-left: 248px;"
          (click)="addAddress()" class="checkout-btn">
            Agregar
          </a>
          <a class="btnAddress checkout-btn" data-dismiss="modal" (click)="addAddress()">
            Agregar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="alertPayment" tabindex="-1" role="dialog" aria-labelledby="alertPaymentTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-times close" data-dismiss="modal"></i>
        <h5 style="margin-left: 22%; font-weight: bold; font-size: 25px;" class="modal-title"
          id="terms&conditionsTitle">Información de Pago</h5>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <div style="font-size: 110%; font-weight: bold;">
          <p>Estimado cliente le informamos que de momento unicamente tenemos habilitada la opción
            de pago por transferencia bancaria
          </p>
          <p>Para realizar el pago de la orden contacta con soporte
            <a style="color: rgb(134, 223, 45); text-decoration: none;" href="https://wa.me/50683364867?" target="_blank"> Aquí
          </a> para obtener en número de cuenta, una vez depositado
            solo tienes que adjuntar una fotografía o imagen del comprobante de pago
          </p>
          <p>Después de dar click en "enviar Documento" nuestro equipo verificará y enviará su pedido</p>
          <label class="btnLabel btn" style="margin-left: 0%; background-color: rgb(7, 255, 193);">
            <i class="fas fa-file-upload"></i> Subir imagen
            <input class="inputFile" name="photo" type="file" id="img" accept="image/*" (change)="onUpload($event)">
          </label>
          <div style="margin-left: 10%; padding: 10px, 10px, 10px;">
            <h5 style="font-weight: bold;">{{nameticket}}</h5>
          </div>
        </div>
        <input *ngIf="!boolTicket" disabled style="color: white;" type="button" class="btn btn--green btn--pill"
        value="Enviar Documento" (click)="sendTicket()">
        <input *ngIf="boolTicket" style="color: white;" type="button" class="btn btn--green btn--pill"
        value="Enviar Documento" (click)="sendTicket()" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
<div class="overlay-container toast-top-left toast-container" toastContainer></div>
<ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce,
  backdropBackgroundColour: 'rgba(190,190,186,0.3)', backdropBorderRadius: '10px',
  primaryColour: '#1D72EC', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
</ngx-loading>
