.main{
	padding-top: 3%;
}

/*------- Start Bread Crumb --------*/
.organic-bread {
	margin-bottom: 100px;
	margin-top:100%;
}

.breadcrumb-banner {
	padding: 80px 0 50px 0;
}

h1 {
	font-family: 'Calistoga', cursive;
}

.breadcrumb .breadcrumb-item a {
	color: azure;
	text-decoration: none;
	cursor: pointer;
}

.breadcrumb .breadcrumb-item:hover {
	color: rgb(198, 206, 206);
}

.catalogue{
	position: relative;
	left: -1.2%;
	padding-top: 6%;
	width: 102.3%;
  color: azure;
  background-image: url('/assets/Images/background.jpg');
	/*background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);*/
}

.breadcrumbDiv{
	padding-left: 0;
	padding-top: 97px;
}

.breadcrumb{
	background: #ffffff00;
	font-weight: bold;
}

.breadcrumb-item i{
	margin-right: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.breadcrumb-item:hover i {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
   .btnfile {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }

  .btn-secondary{
    margin-top: 10%;
  }

  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .btn--green {
    background: #57b846;
    color: white;
  }

  .btn--green:hover {
    background: #4dae3c;
  }

  .btn--blue {
    background: #4272d7;
  }

  .btn--blue:hover {
    background: #3868cd;
  }

  .btn--red {
    background: #ff4b5a;
  }

  .btn--red:hover {
    background: #eb3746;
  }

  input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }

/* ==========================================================================
   #FILE_PHOTO
   ========================================================================== */
   .inputFile{
    display: none;
  }

  .btnLabel{
    margin-left: 25%;
  }

  .colPhoto{
    display: block;
    margin-left: 6%;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 6%;
  }

  .divPhoto{
    /*height: 260px;
    width: 200px;*/
    height: 405px;
    width: 350px;

    font-size: 20px;
  }

  td .img-responsive{
    weight: 55px;
  }

/*==================================================================
	#CART_PAGE
====================================================================*/

.title {
	/*color: #cccccc;*/
	color: #C0C0C0;
}

.cart-table {
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 0px 34px 0;
	background: #F8F6F6;
	border-radius: 8px;
	overflow: auto;
	box-shadow: 2.828px 2.828px 15px 1px rgba(0, 0, 0, 0.2);
}

.cart-table h3 {
	font-weight: 700;
	margin-bottom: 37px;
}

.cart-table table {
	width: 100%;
	min-width: 442px;
	margin-bottom: 17px;
}

.cart-table table tr th {
	font-size: 12px;
	font-weight: 400;
	color: #414141;
	text-align: center;
	padding-bottom: 25px;
}

.cart-table table tr th.product-th {
	text-align: left;
}

.cart-table table tr th.size-th {
	padding-right: 70px;
}

.cart-table table tr th.quy-th {
	padding-right: 20px;
}

.cart-table .product-col {
	display: table;
	margin-bottom: 19px;
}

.cart-table .product-col img {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 73px;
}

.cart-table .product-col .pc-title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

.cart-table .product-col .pc-title h4 {
	font-size: 16px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 3px;
}

.cart-table .product-col .pc-title p {
	margin-bottom: 0;
	font-size: 16px;
	color: #414141;
}

.cart-table .quy-col {
	padding-right: 20px;
}

.cart-table .quantity {
	margin-bottom: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table .quantity .pro-qty {
	width: 80px;
	background: #fff;
	border-color: #fff;
}

.cart-table .quantity .pro-qty .qtybtn {
	width: 10px;
}

.cart-table .size-col,
.cart-table .total-col {
	text-align: center;
}

.cart-table .size-col h4,
.cart-table .total-col h4 {
	font-size: 18px;
	color: #414141;
	font-weight: 400;
}

.cart-table .size-col h4 {
	padding-right: 70px;
}

.card-right .site-btn {
	margin-bottom: 14px;
	width: 50%;
	min-height: 43px;
	padding: 10px 25px 10px;
}

.card-right .checkout-btn {
	margin-bottom: 14px;
	width: 80%;
	min-height: 43px;
	padding: 10px 25px 10px;
}

.card-right {
	margin-top: 4.5%;
	margin-left: 5%;
}

.site-btn{
  text-decoration: none;
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  margin-bottom: 10%;
  margin-left: 200px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 2.824px 2.824px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-transform: uppercase;
}

.site-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.checkout-btn{
  text-decoration: none;
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  margin-top: 2%;
  margin-left: 66px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 2.824px 2.824px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-transform: uppercase;
}

.checkout-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
}

.quantity p {
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.quantity .pro-qty {
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}

.quantity .pro-qty .qtybtn {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}

.quantity .pro-qty input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}
/*------------shipping_area--------------------*/

.shipping-area {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.shipping-area .filter-list label {
  margin-right: 10px;
}

.shipping-area .calculate {
  margin-right: 43px;
}

.shipping-area .view-btn {
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  padding: 0 30px;
  cursor: pointer;
  width: 172px;
}

.shipping-area .view-btn.color-2:after {
  border-radius: 0;
}

.shipping-area .view-btn span {
  font-weight: 400;
}

.shipping-area .subtotal {
	margin-left: 200px;
  	font-weight: bold;
  	color: #222222;
  	font-size: 15px;
}

.subtotal-area {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.subtotal-area .subtotal {
  margin-left: 200px;
  font-weight: 500;
  color: #222222;
  font-size: 18px;
}

/*--------------TRASH_ICON-------------*/
.icon-trash {
  width: 65px;
  height: 65px;
  fill: #232323;
}

.trash-lid {
  transform-origin: right bottom;
  transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.icon-trash:hover .trash-lid {
  transform: translateY(-2px) rotate(30deg);
}

.icon-trash:hover {
	cursor: pointer;
}


/*=========================================================================
	#COUPON
===========================================================================*/


.cupon-area {
  padding: 15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {

  .cupon-area {
    padding-left: 0;
    padding-right: 0;
  }
}


.cupon-area .view-btn {
  box-shadow: none;
  border-radius: 0px;
  cursor: pointer;
  border: 1px solid #eee;
  padding: 0 30px;
}


.cupon-area .view-btn.color-2:after {
  border-radius: 0;
}


.cupon-area .view-btn span {
  font-weight: 400;
}


.cupon-area .cuppon-wrap .view-btn {
  border-radius: 0;
}

.cupon-code {
	margin-top: 5%;
}


.cupon-area .cuppon-wrap .view-btn.color-2:after {
  border-radius: 0;
}


.cupon-area .cupon-code {
  display: none;
}

@media (max-width: 767px) {

  .cupon-area .cupon-code {
    margin-top: 10px;
  }
}


.cupon-area .cupon-code input {
  border: 1px solid #eee;
  line-height: 40px;
  padding: 0 15px;
  width: 200px;
  border-right: 0px;
  margin-right: -5px;
}


.cupon-area .cupon-code button {
  border-right: 0;
  cursor: pointer;
}

@media (max-width: 575px) {

  .cupon-area .cupon-code button {
    border-right: 1px solid #eee;
  }
}


.cupon-area .cupon-code button:focus {
  outline: none;
}


.cupon-area .cupon-code .view-btn {
  border-radius: 0;
}


.cupon-area .cupon-code .view-btn:after {
  border-radius: 0;
}


/*=========================================================
==========================================================
*/

.coupon{
	align-items: right;
	width: 100%;
}

.coupon-wrap {
	position: absolute;
	margin-right: 30%;
}

.btnCoupon {
	margin-left: 8.5%;
}

.view-btn {
  display: inline-block;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  position: relative;
  border: 2px solid #3EFEF3;
  color: #222222;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  z-index: 3;
}

.view-btn:hover{
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.coupon-btn{
  text-decoration: none;
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  box-shadow: none;
  border: 2px solid #3EFEF3;
  margin-bottom: 10%;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
}

.coupon-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.coupon-btn {
	margin-left: 66%;
	width: 45%;
	min-height: 43px;
	padding: 10px 25px 10px;
}


.input--style-5 {
  background: transparent;
  border: 2px solid #3EFEF3;
  line-height: 36px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 16px;
  color: #676565;
}

.coupon .p-stock {
	font-size: 12px;
	color: #000;
	font-weight: 700;
	color: #414141;
}

.coupon .p-stock span {
	color: #f51167;
}

@media (max-width: 767px) {
  .catalogue{
    padding-top: 56%;
  }
}
