*{
  overflow: hidden;
}

.main{
  padding-top: 3%;
  padding-bottom: 10%;
}

.catalogue{
	position: relative;
	left: -1.2%;
	padding-top: 6%;
	width: 102.3%;
  color: azure; 
  background-image: url('/assets/Images/color-2174045_1280.png');
  background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.container h1 {
  margin-left: 40%;
}
.price
/*=====================================================
  #CATEGORY_PAGE
=======================================================*/

.filter-widget {
	margin-bottom: 100px;
}

.filter-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
	margin-bottom: 45px;
}

.category-menu {
	list-style: none;
}

.category-menu li {
	background: transparent;
}

.category-menu li a {
	display: block;
	position: relative;
	font-size: 12px;
	color: #414141;
	border-bottom: 1px solid #ebebeb;
	padding: 12px 0 5px 20px;
}

.category-menu li a span {
	float: right;
	font-size: 12px;
}

.category-menu li a:after {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	left: 0;
	top: 13px;
	border: 1px solid #37AEFA;
	border-radius: 50%;
}

.category-menu linear a:hover {
	color: #37AEFA;
}

.category-menu li a:hover:after {
	background: #37AEFA;
}

.category-menu li a:last-child a {
	margin-bottom: 0;
}

.category-menu li .sub-menu {
	list-style: none;
	overflow: hidden;
	height: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.category-menu li .sub-menu li a {
	padding-left: 45px;
}

.category-menu li:hover>a {
	color: #37AEFA;
	cursor: pointer;
}

.category-menu li.active>.sub-menu {
	display: block;
	height: auto;
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.price-range-wrap .price-range {
	border-radius: 0;
	margin-right: 13px;
	margin-bottom: 28px;
}

.price-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #ebebeb;
	height: 2px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
	background: #ebebeb;
	border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
	background: #414141;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	border: none;
	background: #414141;
	height: 14px;
	width: 14px;
	outline: none;
	top: -6px;
	cursor: ew-resize;
	margin-left: 0;
	border-radius: 0;
	border-radius: 20px;
}

.price-range-wrap .price-range .ui-slider-handle.ui-corner-all.ui-state-default span {
	position: absolute;
	font-size: 14px;
	top: 35px;
}

.price-range-wrap .range-slider {
	color: #444444;
	margin-top: 22px;
}

.price-range-wrap {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.price-range-wrap h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	margin-bottom: 45px;
}

.price-range-wrap .range-slider .price-input input {
	color: #444444;
	border: none;
	outline: none;
	max-width: 80px;
	pointer-events: none;
}

.price-range-wrap .range-slider .price-input input:nth-child(1) {
	float: left;
}

.price-range-wrap .range-slider .price-input input:nth-child(2) {
	float: right;
}

.fw-color-choose,
.fw-size-choose {
	border-bottom: 2px solid #ebebeb;
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.fw-color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
	margin-right: 0;
}

.fw-color-choose label {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
}

.fw-color-choose label.cs-gray {
	background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
	background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
	background: #6f91ff;
}

.fw-color-choose label.cs-green {
	background: #8fc99c;
}

.fw-color-choose label.cs-purple {
	background: #bc83b1;
}

.fw-color-choose label.cs-blue {
	background: #9ee7f4;
}

.fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
}

.fw-color-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-color-choose input[type=radio]:checked+label {
	-webkit-box-shadow: 0 0 0 2px #37AEFA;
	box-shadow: 0 0 0 2px #37AEFA;
}

.fw-color-choose input[type=radio]:checked+label span {
	color: #b09d81;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
}

.fw-size-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type=radio]:checked+label {
	background: #37AEFA;
	color: #fff;
}

/*---------productList-----*/

.category-list {
	margin-top: 30px;
}

.pb-40 {
	padding-bottom: 40px;
}

.single-product {
	margin-right: -9%;
	margin-bottom: 2%;
}

.single-product .price h3 {
	font-weight:700;
	color: #232323;
}

.single-product .price {
  margin-left: 3%;
}

.single-product .listOutfit {
  margin-left: 3%;
}

.listOutfit h5{
	margin-top:15px;
	margin-bottom:15px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.price h4{
	margin-top:15px;
  margin-bottom:15px;
  color: #a8a8a8;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.price h5{
	margin-top:15px;
	margin-bottom:15px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.content-image{
	width: 70%;
}

.content {
	position: relative;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
}

.content .content-overlay {
	background-color: black;
	position: absolute;
	left: -10px;
	top: -10px;
	width: 70%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content-title{
	font-size:18px;
	color: white;
	font-weight:500;
}

.content-details {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	position: absolute;
	padding-left: 1em;
	padding-right: 1em;
	top: 50%;
	left: 35%;
	opacity: 0;
	text-align: center;
	width: 65%;
	color:azure;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
	top: 50%;
	left: 36%;
	opacity: 1;
}

.content .content-details p {
	color: #fff;
	font-size: 0.8em;
}

.fadeIn-bottom{
	top: 20%;
}

.content .content-overlay {
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }

.content-overlay{
	margin: 10px;
}

.content:hover .content-overlay{
	opacity: .5;
}

.bottom {
	transition: (all .3s linear);
	text-decoration: none;
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
}

.bottom a {
	display: inline-block;
	width: 70%;
	line-height: 40px;
	text-align: center;
	color: white;
}

.bottom {
	margin-left: -10%;
}

.bottom a:hover {
	background: white;
	color:#232323;
	box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1);
}

.bottom a span {
	color: white;
}

/* ==========================================================================
   #MODAL
  ========================================================================== */

  .dropdown-user a:hover {
    cursor: pointer;
  }


  .registerText{
    margin-top: 10px;
    text-align: center;
    background-color: #fff;
  }

  /* TABS */

  h2 {
    color:#676768;
  }

  h2.inactive {
    color: #cccccc;
  }

  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }



  .wrapper{
    display: flow-root;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  *:focus {
    outline: none;
  }

  #icon {
    width: 60%;
  }


  /* ANIMATIONS */

  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    font-family: 'Josefin Sans', sans-serif;
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
  }

  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }

  .fadeIn.fifth {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
    text-decoration: none;
    background-color: transparent;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }

  .underlineHover:hover {
    color: #0d0d0d;
    text-decoration: none;
    background-color: transparent;
  }

  .underlineHover:hover:after {
    width: 100%;
  }

  *:focus {
    outline: none;
  }

  #icon {
    width: 60%;
  }

  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes modal-header {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes modal-header {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes modal-header {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.miniature{
  /*width: 78px;
  height: 78px;*/
  border-radius: 22px;
  max-width:100%;
  width:auto;
  height:auto;
}

.titleProduct {
  cursor:pointer;
  text-decoration: none;
  color: rgb(18, 252, 240);
  transition: .5s;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.titleProduct:hover {
  color: rgb(59, 161, 156);
}

/*===============================================================================
     #loading
================================================================================*/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*===================================== UI_OUTFIT===================================*/

.outfit {
  /*width: 240px;
  height: 347px;*/
  width: 306px;
  height: 375px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
  border-radius: 5px;
  margin: 15px 10px 5px;
  overflow: hidden;
}

.outfit .imgbox {
  height: 100%;
  box-sizing: border-box;
}

.outfit .imgbox img {
  display: block;
  width: 90%;
  margin: 2px auto 0;
  cursor: pointer;
}

.details {
  position: sticky;
  width: 101%;
  bottom: 0px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  transition: .5s;
}

.product:hover .details {
  bottom: 0;
  box-shadow: 0 -5px -15px rgba(59, 48, 48, 0.25);
}

label {
  display: block;
  margin-top: 6px;
  font-weight: bold;
  font-size: 14px;
}

.btnCheckout {
  display: block;
  padding: 5px;
  color: #fff;
  margin: 15px, 0, 0;
  background: #ff4faf;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  cursor: pointer;
}

.btnCheckout:hover {
  background: #ff209a;
}

li  a:hover {
  color: rgb(61, 226, 255);
  transition: .5s;
}

a {
  text-decoration: none;
  color: rgb(235, 233, 233);
}

ul li {
  list-style: none;
  margin: 5px 5px 7px;
  font-size: 12px;
  font-weight: normal;
  color: #ccc;
  cursor: pointer;

}

ul li:first-child {
  margin-left: 0;
}


/*--------- End productList-----*/

@media(max-width:800px){
	.single-product{
		margin-bottom: 20px;
	}

	.modal .modal-content{
		margin-top: 20%;
		margin-right: 10%;
		width: 100%;
		height: 80%;
	}
}

@media (max-width: 767px){

  .titleProduct{
    font-size: 15px;
  }

  .container h1{
    margin-left: 16%;
  }
	.single-product{
		text-align: center;
	}
	.catalogue{
		padding-left: 0%;
    padding-top: 34%;
	}
	.type{
		padding-top: 5%;
		padding-left: 2%;
  }

  .content .content-overlay {
    left: 27px;
  }
  .content-details {
    left: 47%;
  }
  .content:hover .content-details {
    top: 50%;
    left: 45%;
    opacity: 1;
  }
  .single-product .price {
    margin-left: -3%;
  }

	.modal .modal-content{
		margin-top: 20%;
		margin-right: 10%;
		width: 100%;
		height: 60%;
	}
}
