<header>
  <div *ngIf="shop_bool">
    <app-navbar-j></app-navbar-j>
  </div>
  <div *ngIf="!shop_bool">
    <app-navbar-b></app-navbar-b>
  </div>
</header>
<div class="main">
  <div class="col-lg-12 catalogue">
    <div class="container">
      <h1>Outfits</h1>
    </div>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-9">
    <section class="pb-40 category-list">
      <div class="row">
        <div *ngFor="let outfit of outfitList"
        class="col-lg-4 col-md-12 col-xs-12 single-product">
          <div class="outfit">
            <div class="imgbox">
              <img data-toggle="modal" data-target="#outfitModal"
              (click)="showDataOutfit(outfit)" [src]="outfit.photo" alt=""
              style="width: 230px; height: 260px;">
            </div>
            <div class="details">
              <h5 style="font-weight: bold;">{{outfit.name}}</h5>
              <a class="btnCheckout" data-toggle="modal"
              (click)="showDataOutfit(outfit)" data-target="#outfitModal">
                <i class="fas fa-search"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="outfitModal" tabindex="-1" role="dialog" aria-labelledby="alertPaymentTitle"
aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-times close" data-dismiss="modal"></i>
      </div>
      <div class="modal-body" style="text-align: justify;">
        <div class="row">
          <div class="col-md-6 col-xs-6 col-s-6">
            <!--<img class="content-image img-fluid d-block mx-auto"
            [src]="showOutfitModal.photo" alt="">-->
            <img loading="lazy" ngClass="lazyload" class="img-responsive" [src]="showOutfitModal.photo" alt="">
          </div>
          <div class="col-md-6 col-xs-6 col-s-6">
            <div *ngFor="let products of showOutfitModal.articles">
              <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-6 col-xs-6">
                  <img class="miniature" [src]="products.photo" alt="">
                </div>
                <div class="col-md-6 col-xs-6">
                  <a  class="titleProduct" data-dismiss="modal"
                  (click)="gotoDetail(products.id)">{{products.name}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading">Loading&#8230;</div>
