<div class="page-wrapper bg-gra-03">
  <app-navbaradmin></app-navbaradmin>
  <div class="wrapper wrapper--w1100">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Apartados</h2>
      </div>
      <div class="card-body">
        <div style="margin-left: 74%; color: white;">
          <button (click)="gotoFact()" class="btn btn--blue btn--pill">facturación</button>
        </div>
        <div class="formgroup">
          <form class="form-group" #apart='ngForm'>
            <div class="row">
              <div class="col-lg-10">
                <div class="input-group-desc">
                  <h4>Cliente</h4>
                  <button data-toggle="modal" data-target="#clientList" class="btn btn--blue btn--pill" style="color: white;">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div class="col-md-10">
                  <div class="input-group-desc">
                    <label for="">Nombre:</label>
                    <input class="input--style-5" type="text" name="name" #name="ngModel" [(ngModel)]="client.name"
                    type="text" disabled>
                  </div>
                  <div class="input-group-desc">
                    <label for="">teléfono</label>
                    <input class="input--style-5" name="phone" type="phone" phone="ngModel"
                    [(ngModel)]="client.phone" disabled/>
                  </div>
                  <div class="input-group-desc">
                    <label for="">Correo Electrónico</label>
                    <input class="input--style-5" name="email" type="email" #email="ngModel"
                    [(ngModel)]="client.email" disabled/>
                  </div>
                  <div class="input-group-desc">
                    <label for="">Dirección</label>
                    <h4>{{client.address}}</h4>
                  </div>
                  <div class="input-group-desc">
                    <textarea class="input--style-5" style="resize: both; overflow: auto;"
                    name="addresDetail" #addresDetail="ngModel" [(ngModel)]="client.addressDetail"
                    id="addresDetail" placeholder="Dirección detallada"
                    cols="25" rows="2" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-product">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchProduct" autocomplete="off"
                placeholder=" &#61442; Buscar...">
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-phone" style="overflow: auto;">
                <thead>
                  <th scope="col">Producto</th>
                  <th>Género</th>
                  <th>Depart</th>
                  <th scope="col">Público</th>
                  <th scope="col"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productView | filter: searchProduct | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td>{{product.name}}</td>
                    <td>{{product.gender}}</td>
                    <td>{{product.department}}</td>
                    <td>₡ {{product.pricePublic | number: '3.'}}</td>
                    <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
                    value="Agregar" (click)="getProduct(product.id)"></td>
                  </tr>
                </tbody>
                <pagination-controls class="my-pagination" (pageChange)="p = $event">
                </pagination-controls>
              </table>
            </div>
            <table class="table table-striped table-pc">
              <thead>
                <th scope="col">Producto</th>
                <th scope="col">Género</th>
                <th scope="col">Depart</th>
                <th scope="col">Público</th>
                <th scope="col"></th>
              </thead>
              <tbody>
                <tr *ngFor="let product of productView | filter: searchProduct | paginate: { itemsPerPage: 8, currentPage: p }">
                  <td>
                    <a (click)='over(product.id)' style="cursor: pointer;" data-toggle="modal" data-target="#myModalImg">{{product.name}}</a>
                  </td>
                  <td>{{product.gender}}</td>
                  <td>{{product.department}}</td>
                  <td>₡ {{product.pricePublic | number: '3.'}}</td>
                  <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="Agregar a compra" (click)="getProduct(product.id)"></td>
                </tr>
              </tbody>
              <pagination-controls class="my-pagination" (pageChange)="p = $event">
              </pagination-controls>
            </table>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group-desc">
                  <h4 for="">Producto</h4>
                  <input class="input--style-5" name="name" type="text" [placeholder]="productGet.name" disabled/>
                </div>
                <div class="input-group-desc">
                  <h4 for="">Precio</h4>
                  <input class="input--style-5" name="name" type="text" [placeholder]="productGet.pricePublic" disabled/>
                </div>
                <div class="input-group-desc">
                  <div class="fw-size-choose">
                    <h4>Talla: </h4>
                    <div class="sc-item" *ngFor="let size of productSizes">
                      <input type="radio" name="sc" id="{{size.size}}" [value]="size.size" (click)="sizeAdd(size)">
                      <label for="{{size.size}}">{{size.size}}</label>
                    </div>
                  </div>
                </div>
                <div class="input-group-desc">
                  <h4>Cantidad</h4>
                  <input class="input--style-5" name="amount" #amount="ngModel" [(ngModel)]="valueQtyBtn" type="number" [placeholder]="0"/>
                  <input *ngIf="!AmountInputBool" style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="ADD" disabled>
                  <input *ngIf="AmountInputBool" style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="ADD" (click)="checkoutApart(productGet)">
                </div>
              </div>
            </div>
            <div class="billing">
              <table class="table table-striped">
                <thead>
                  <th scope="col">Producto</th>
                  <th scope="col" class="quy-th">Cantidad</th>
                  <th scope="col" class="size-th">Talla</th>
                  <th scope="col" class="total-th">Precio</th>
                  <th scope="col"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let productApart of arrayApart">
                    <td>{{productApart.name}}</td>
                    <td>{{productApart.pivot.amount}}</td>
                    <td>{{productApart.pivot.size}}</td>
                    <td>₡ {{productApart.pricePublic * productApart.pivot.amount | number: "3."}}</td>
                    <td>
                      <input style="color: white;" type="button" class="btn btn--blue btn--pill"
                      value="Eliminar" (click)="detachProductBilling(productApart)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <h3>Total: ₡ {{apartM.price | number: "3."}}</h3>
            </div>
            <input style="color: white;" type="button" class="btn btn--green btn--pill"
            value="Facturar" data-toggle="modal" data-target="#Factu">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fadeInDown" id="clientList" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content wrapper" id="formContent" role="document">
    <div class="modal-header first">
      <i class="fa fa-times close" data-dismiss="modal"></i>
      <h2 id="modalLabel">Lista de Clientes</h2>
    </div>
    <div class="modal-body fadeIn second">
      <div class="search-product">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchClient" autocomplete="off"
          placeholder=" &#61442; Buscar...">
      </div>
      <pagination-controls class="my-pagination" (pageChange)="pClient = $event">
      </pagination-controls>
      <table class="table table-striped table-phone">
        <thead>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter: searchClient | paginate: { itemsPerPage: 12, currentPage: pClient }">
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
            value="Agregar" (click)="selectClient(client)" data-dismiss="modal"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-pc">
        <thead>
          <th scope="col">Nombre</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter: searchClient | paginate: { itemsPerPage: 12, currentPage: pClient }">
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.address}}</td>
            <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
            value="Agregar" (click)="selectClient(client)" data-dismiss="modal"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="myModalImg" class="modal">
  <span class="close" data-dismiss="modal">&times;</span>
  <div *ngIf="loading" class="loading">Loading&#8230;</div>
  <img class="modal-content" [src]="viewPhoto" id="img01">
</div>
