<header>
  <div *ngIf="shop_bool"><app-navbar-j></app-navbar-j></div>
  <div *ngIf="!shop_bool"><app-navbar-b></app-navbar-b></div>
</header>
<div id="main" class="main">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Niñas</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/BJem"><i class="fas fa-home">Inicio</i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Niñas</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-11 types">
        <div class="row">
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(1)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewMameluco[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewMameluco[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewMameluco[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(2)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewAcc[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewAcc[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewAcc[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewblusa[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewblusa[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewblusa[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Blusas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(4)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewSueter[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueters</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewSueter[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueters</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewSueter[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueters</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(5)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewShort[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewShort[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewShort[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Shorts</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(6)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewEnagua[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewEnagua[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewEnagua[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enaguas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(7)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewConjunto[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewConjunto[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewConjunto[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(8)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewVestido[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewVestido[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewVestido[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Vestidos</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(9)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewOverol[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Overol</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewOverol[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Overol</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewOverol[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Overol</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(10)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewEnterizo[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewEnterizo[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewEnterizo[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Enterizos</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(11)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewPijama[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPijama[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPijama[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
