.main{
	padding-top: 3%;
}

/*==================================================================
	#CART_PAGE
====================================================================*/

.title {
	/*color: #cccccc;*/
	color: #C0C0C0;
}

.cart-table {
	margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 6%;
  margin-right: 6%;
	padding: 0px 34px 0;
	background: #F8F6F6;
	border-radius: 8px;
	overflow: auto;
	box-shadow: 2.828px 2.828px 15px 1px rgba(0, 0, 0, 0.2);
}

.cart-table h3 {
	font-weight: 700;
	margin-bottom: 37px;
}

.cart-table table {
	width: 100%;
	min-width: 442px;
	margin-bottom: 17px;
}

.cart-table table tr th {
	font-size: 12px;
	font-weight: 400;
	color: #414141;
	text-align: center;
	padding-bottom: 25px;
}

.cart-table table tr th.product-th {
	text-align: left;
}

.cart-table table tr th.size-th {
	padding-right: 70px;
}

.cart-table table tr th.quy-th {
	padding-right: 20px;
}

.cart-table .product-col {
	display: table;
	margin-bottom: 19px;
}

.cart-table .product-col img {
	display: table-cell;
	vertical-align: middle;
	float: left;
	width: 73px;
}

.cart-table .product-col .pc-title {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

.cart-table .product-col .pc-title h4 {
	font-size: 16px;
	color: #414141;
	font-weight: 700;
	margin-bottom: 3px;
}

.cart-table .product-col .pc-title p {
	margin-bottom: 0;
	font-size: 16px;
	color: #414141;
}

.cart-table .quy-col {
	padding-right: 20px;
}

.cart-table .quantity {
	margin-bottom: 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.cart-table .quantity .pro-qty {
	width: 80px;
	background: #fff;
	border-color: #fff;
}

.cart-table .quantity .pro-qty .qtybtn {
	width: 10px;
}

.cart-table .size-col,
.cart-table .total-col {
	text-align: center;
}

.cart-table .size-col h4,
.cart-table .total-col h4 {
	font-size: 18px;
	color: #414141;
	font-weight: 400;
}

.cart-table .size-col h4 {
	padding-right: 70px;
}

.card-right .site-btn {
	margin-bottom: 14px;
	width: 50%;
	min-height: 43px;
	padding: 10px 25px 10px;
}

.card-right .checkout-btn {
	margin-bottom: 14px;
	width: 80%;
	min-height: 43px;
	padding: 10px 25px 10px;
}

.card-right {
	margin-top: 4.5%;
	margin-left: 5%;
}

.site-btn{
  text-decoration: none;
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  margin-bottom: 10%;
  margin-left: 65px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 2.824px 2.824px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 100px 10px;
}

.site-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.checkout-btn{
  text-decoration: none;
  font-weight: 600;
  color: #232323;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border-radius: 0px;
  box-shadow: none;
  border: 1px solid #eee;
  margin-top: 2%;
  margin-left: 66px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 2.824px 2.824px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-transform: uppercase;
}

.checkout-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	cursor: pointer;
	color: #ffff;
	text-decoration: none;
}

.quantity {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 40px;
}

.quantity p {
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: 700;
	color: #414141;
	padding-top: 10px;
	margin-bottom: 0;
}

.quantity .pro-qty {
	width: 94px;
	height: 36px;
	border: 1px solid #ddd;
	padding: 0 15px;
	border-radius: 40px;
	float: left;
}

.quantity .pro-qty .qtybtn {
	width: 15px;
	display: block;
	float: left;
	line-height: 36px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	color: #404040;
}

.quantity .pro-qty input {
	width: 28px;
	float: left;
	border: none;
	height: 36px;
	line-height: 40px;
	padding: 0;
	font-size: 14px;
	text-align: center;
	background-color: transparent;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
   .btnfile {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }

  .btn-secondary{
    margin-top: 10%;
  }

  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .btn--green {
    background: #57b846;
    color: white;
  }

  .btn--green:hover {
    background: #4dae3c;
  }

  .btn--blue {
    background: #4272d7;
  }

  .btn--blue:hover {
    background: #3868cd;
  }

  .btn--red {
    background: #ff4b5a;
  }

  .btn--red:hover {
    background: #eb3746;
  }

/* ==========================================================================
  #TABLE
========================================================================== */

tbody{
  margin-top: 5%;
}

.my-pagination /deep/ .ngx-pagination {
  text-decoration: none;
  margin-left: 76%;
  font-weight: bold;
}

.my-pagination /deep/ .ngx-pagination a {
  text-decoration: none;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #232323;
  color:#ffff;
}

/*//////////////////////////////////////////////////////////////////
[ FORM_STYLE ]*/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-form {
  width: 390px;
}

.contact1-form-title {
  display: block;
  font-family: 'Montserrat';
  font-weight: bold ;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
}
input.input1 + .shadow-input1 {
  border-radius: 25px;
}

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
  border-radius: 25px;
}
/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn i {
  margin-left: 7px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*========================================
  #MODAL
==========================================*/
#successPassModal {
  margin: 0 auto !important;
  padding: 0 !important;
}

#successPassModal .Modal {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 80px 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 33% !important;
  background: white;
}
#successPassModal .Modal .ModalHeader {
  padding: 10px 20px;
  text-align: right;
}
#successPassModal .Modal .ModalHeader a {
  margin: 0;
  text-align: right;
  font-size: 1.5em;
  color: #d3d3d3;
}
#successPassModal .Modal .ModalHeader a:hover {
  color: #000;
}
#successPassModal .Modal .ModalBody {
  background-color: #fff;
  padding: 5px 0;
  text-align: center;
  margin: 0 auto !important;
}
#successPassModal .Modal .ModalBody .icon {
  padding: 15px;
  width: 80px;
  height: 80px;
  background-color: #98fb98;
  border-radius: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
#successPassModal .Modal .ModalBody .icon i {
  font-size: 2.5em;
  color: #fff;
  line-height: 50px;
}
#successPassModal .Modal .ModalBody h2 {
  font-size: 3em;
  font-family: 'Roboto';
  font-weight: 900;
  margin: 20px 0 6px 0;
  color: #000;
}
#successPassModal .Modal .ModalBody p {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1em;
  color: #333;
}
#successPassModal .Modal .ModalFooter {
  margin: 20px 0 30px 0;
  padding: 0;
}
#successPassModal .Modal .ModalFooter a {
  display: block;
  font-family: 'SourceSansPro', sans-serif;
  color: #000;
  font-size: 1.5em;
  font-weight: 400;
  padding: 10px 30px;
  background-color: #f5f5f5;
  width: 30%;
  text-align: center;
  border-radius: 3px;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  }
  #successPassModal .Modal .ModalFooter a:hover {
    background-color: #000;
    color: #fff;
    }




/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%;
  }

  .contact1-form {
    width: 44%;
  }
}

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px;
  }

  .contact1-pic {
    width: 35%;
  }

  .contact1-form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px;
  }

  .contact1-pic {
    display: none;
  }

  .contact1-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px;
  }
}


