<div class="page-wrapper bg-gra-03">
  <app-navbaradmin></app-navbaradmin>
  <div class="wrapper wrapper--w1100">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Cupones</h2>
      </div>
      <div class="card-body">
        <div class="formgroup">
          <form class="form-group" #addCoupon="ngForm" (submit)="saveCoupon(addCoupon)">
            <div class="row">
              <div class="col-lg-3">
                <div class="input-goup-desc">
                  <label for="">Nombre del cupón</label>
                  <input class="input--style-5" type="text" name="name" #name="ngModel" [(ngModel)]="coupon.name"
                    type="text" required>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="input-goup-desc">
                  <label for="">Descuento del cupón</label>
                  <input class="input--style-5" type="text" name="discount" #discount="ngModel"
                    [(ngModel)]="coupon.discount" type="text" required>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="input-goup-desc">
                  <label for="">Fecha</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                      #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="toggle-button-cover col-lg-3">
                <div class="button-cover">
                  <div class="button r" id="button-1">
                    <input type="checkbox" name="status" #status="ngModel" [(ngModel)]="coupon.status" class="checkbox">
                    <div class="knobs"></div>
                    <div class="layer"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <button type="submit" class="btn btn-success">
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="table-responsive">
          <div class="search-product">
            <input class="form-control" type="text" name="search" [(ngModel)]="search" autocomplete="off"
              placeholder=" &#61442; Buscar...">
          </div>
          <table class="table table-striped">
            <thead>
              <th scope="col">Nombre</th>
              <th scope="col">Descuento</th>
              <th scope="col">Expiración</th>
              <th scope="col">Estado</th>
              <th scope="col"></th>
            </thead>
            <tbody>
              <tr *ngFor="let coupon of coupons">
                <td>{{coupon.name}}</td>
                <td>{{coupon.discount | number: '3.'}}</td>
                <td>{{coupon.expiration}}</td>
                <td>
                  <div class="toggle-button-cover">
                    <div class="button-cover">
                      <div class="button r" id="button-1">
                        <input type="checkbox" name="status" #status="ngModel" (change)="editStatus(coupon)"
                          [(ngModel)]="coupon.status" class="checkbox">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <svg class="icon-trash" xmlns="http://www.w3.org/2000/svg" (click)="deleteCoupon(coupon.id)" viewBox="0 0 28 40" width="40" height="40">
                    <path class="trash-lid" fill-rule="evenodd"
                      d="M6 15l4 0 0-3 8 0 0 3 4 0 0 2 -16 0zM12 14l4 0 0 1 -4 0z" />
                    <path class="trash-can" d="M8 17h2v9h8v-9h2v9a2 2 0 0 1-2 2h-8a2 2 0 0 1-2-2z" />
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
