<div class="page-wrapper bg-gra-03">
  <app-navbaradmin></app-navbaradmin>
  <div class="wrapper wrapper--w1500">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Reportes</h2>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Fecha de edición</th>
            <th scope="col">Admin</th>
            <th scope="col">Lista De producto</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let apart of aparts">
              <td>{{apart.created_at}}</td>
              <td>{{apart.updated_at}}</td>
              <td>{{apart.admin.user}}</td>
              <td>
                <a style="font-weight: bold; cursor: pointer;" data-toggle="modal"
                data-target="#ListProducts" (click)="getListProduct(apart.articles)">
                Ver Productos</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fadeInDown" id="ListProducts" tabindex="-1" role="dialog"aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content wrapper" id="formContent" role="document">
    <div class="modal-header first">
      <i class="fa fa-times close" data-dismiss="modal"></i>
      <h2 id="modalLabel">Productos del apartados</h2>
    </div>
    <div class="formgroup">
      <div class="table-responsive">
        <table class="table table-striped" style="overflow: auto;">
          <thead>
            <th></th>
            <th scope="col">Producto</th>
            <th scope="col">Público</th>
          </thead>
          <tbody>
            <tr *ngFor="let product of productView">
              <td><img style="width: 40px; height: 50px;" [src]="product.photo" alt=""></td>
              <td>{{product.name}}</td>
              <td>{{product.pricePublic}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

