<div class="card-body">
     <div class="table-responsive">
          <table class="table">
               <thead class=" text-primary">
				<th>Producto</th>
				<th>Detalle</th>
				<th>Tamaño</th>
				<th>Genero</th>
                    <th>Departamento</th>
				<th>Precio Público</th>
                    <th>Precio por mayor</th>
                    <th>Precio TuBoutique</th>
                    <th>Cantidad</th>
                    <th>Peso</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
                         <td>
                              jean levis
                         </td>
                         <td>
                              blablabla!
                         </td>
                         <td>
                              XL
                         </td>
                         <td>
                    	    Hombre
                         </td>
                         <td>
                              Jeans
                         </td>
                         <td>
                         	₡ 12.000
                         </td>
                         <td>
                              ₡ 1.000
                         </td>
                         <td>
                              ₡ 20.000
                         </td>
                         <td>
                              7.kg
                         </td>
                         <td>
                              30
                         </td>
                         <td>
                         	<button type="button" class="btn btn-success">Ver </button>
                         </td>
                         <td>
                         	<button type="button" class="btn btn-danger">Eliminar</button>
                         </td>
                    </tr>
			</tbody>
		</table>
	</div>
</div>



