<div class="page-wrapper bg-gra-03">
  <app-navbaradmin></app-navbaradmin>
  <div class="wrapper wrapper--w1100">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Facturación</h2>
      </div>
      <div class="card-body">
        <div style="margin-left: 75%; color: white;">
          <button (click)="gotoApart()" class="btn btn--blue btn--pill">Apartados</button>
        </div>
        <div class="formgroup">
          <form class="form-group" #factu='ngForm'>
            <div class="row">
              <div class="col-lg-10">
                <div class="input-group-desc">
                  <h4>Cliente</h4> <button class="btn btn--blue btn--pill" (click)="createClient()" style="color: white;">+</button>
                  <button data-toggle="modal" data-target="#clientList" class="btn btn--blue btn--pill" style="color: white;">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div *ngIf="clientBool" class="col-md-10">
                  <div class="input-group-desc">
                    <label for="">Nombre:</label>
                    <input class="input--style-5" type="text" name="name" #name="ngModel" [(ngModel)]="billing.client"
                    type="text">
                  </div>
                  <div class="input-group-desc">
                    <label for="">teléfono</label>
                    <input class="input--style-5" name="phone" type="phone" phone="ngModel" [(ngModel)]="billing.phone" />
                  </div>
                  <div class="input-group-desc">
                    <label for="">Correo Electrónico</label>
                    <input class="input--style-5" name="email" type="email" #email="ngModel" [(ngModel)]="billing.email" />
                  </div>
                  <div class="input-group-desc">
                    <label for="">Dirección</label>
                    <div class="row">
                      <div class="col-lg-4 col-md-4 dropdown">
                        <select name="province" id="province" class="custom-select" [(ngModel)]="Province"
                        (click)="getCant(Province)">
                        <option disabled="disabled" selected="selected">--Seleccionar--</option>
                        <option *ngFor="let province of ArrayProvin" [value]="province.id">
                          {{province.name}}
                        </option>
                      </select>
                      </div>
                      <div class="col-lg-4 col-md-4 dropdown">
                        <select name="province_can" id="province_can" class="custom-select" [(ngModel)]="Cant"
                        (click)="getDist(Province, Cant)">
                        <option disabled="disabled" selected="selected">--Seleccionar--</option>
                        <option *ngFor="let cant of ArrayCant" [value]="cant.id">
                          {{cant.name}}
                        </option>
                      </select>
                      </div>
                      <div class="col-lg-4 col-md-4 dropdown">
                        <select name="distrit" id="distrit" class="custom-select" [(ngModel)]="District"
                        (click)="pushAddress(Province, Cant, District)">
                        <option disabled="disabled" selected="selected">--Seleccionar--</option>
                        <option *ngFor="let dist of ArrayDist" [value]="dist.id">
                          {{dist.name}}
                        </option>
                      </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-group-desc">
                    <textarea class="input--style-5" style="resize: both; overflow: auto;"
                    name="addresDetail" #addresDetail="ngModel" placeholder="Dirección detallada"
                    [(ngModel)]="billing.addressDetail" id="addresDetail" cols="25" rows="2"></textarea>
                  </div>
                </div>
                <div *ngIf="!clientBool" class="col-md-10">
                  <div class="input-group-desc">
                    <label for="">Nombre:</label>
                    <input class="input--style-5" type="text" name="name" #name="ngModel" [(ngModel)]="billing.client"
                    type="text" disabled>
                  </div>
                  <div class="input-group-desc">
                    <label for="">teléfono</label>
                    <input class="input--style-5" name="phone" type="phone" phone="ngModel"
                    [(ngModel)]="billing.phone" disabled/>
                  </div>
                  <div class="input-group-desc">
                    <label for="">Correo Electrónico</label>
                    <input class="input--style-5" name="email" type="email" #email="ngModel"
                    [(ngModel)]="billing.email" disabled/>
                  </div>
                  <div class="input-group-desc">
                    <label for="">Dirección</label>
                    <h4>{{billing.address}}</h4>
                  </div>
                  <div class="input-group-desc">
                    <label for="">Dirección detallada</label>
                    <textarea class="input--style-5" style="resize: vertical;"
                    name="addresDetail" #addresDetail="ngModel" [(ngModel)]="billing.addressDetail"
                    id="addresDetail" cols="48" rows="2" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-product">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchProduct" autocomplete="off"
                placeholder=" &#61442; Buscar...">
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-phone" style="overflow: auto;">
                <thead>
                  <th scope="col">Producto</th>
                  <th>Género</th>
                  <th>Depart</th>
                  <th scope="col">Público</th>
                  <th scope="col"></th>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productView | filter: searchProduct | paginate: { itemsPerPage: 8, currentPage: p }">
                    <td>{{product.name}}</td>
                    <td>{{product.gender}}</td>
                    <td>{{product.department}}</td>
                    <td>₡ {{product.pricePublic | number: '3.'}}</td>
                    <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
                    value="Agregar" (click)="getProduct(product.id)"></td>
                  </tr>
                </tbody>
                <pagination-controls class="my-pagination" (pageChange)="p = $event">
                </pagination-controls>
              </table>
            </div>
            <table class="table table-striped table-pc">
              <thead>
                <th></th>
                <th>Producto</th>
                <th>Género</th>
                <th>Depart</th>
                <th>Público</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let product of productView | filter: searchProduct | paginate: { itemsPerPage: 8, currentPage: p }">
                  <td><img class="img-responsive" [src]="product.photo" alt=""></td>
                  <td>{{product.name}}</td>
                  <td>{{product.gender}}</td>
                  <td>{{product.department}}</td>
                  <td>₡ {{product.pricePublic | number: '3.'}}</td>
                  <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="Agregar a compra" (click)="getProduct(product.id)"></td>
                </tr>
              </tbody>
              <pagination-controls class="my-pagination" (pageChange)="p = $event">
              </pagination-controls>
            </table>
            <div class="row">
              <div class="col-md-3">
                <div class="input-group-desc">
                  <h4 for="">Producto</h4>
                  <input class="input--style-5" name="name" type="text" [placeholder]="productGet.name" disabled/>
                </div>
                <div class="input-group-desc">
                  <h4 for="">Precio</h4>
                  <input class="input--style-5" name="name" type="text" [placeholder]="productGet.pricePublic" disabled/>
                </div>
                <div class="input-group-desc">
                  <div class="fw-size-choose">
                    <h4>Talla: </h4>
                    <div class="sc-item" *ngFor="let size of productSizes">
                      <input type="radio" name="sc" id="{{size.size}}" [value]="size.size" (click)="sizeAdd(size)">
                      <label for="{{size.size}}">{{size.size}}</label>
                    </div>
                  </div>
                </div>
                <div class="input-group-desc">
                  <h4>Cantidad</h4>
                  <input class="input--style-5" name="amount" #amount="ngModel" [(ngModel)]="valueQtyBtn" type="number" [placeholder]="0"/>
                  <input *ngIf="!AmountInputBool" style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="ADD" disabled>
                  <input *ngIf="AmountInputBool" style="color: white;" type="button" class="btn btn--blue btn--pill"
                  value="ADD" (click)="checkoutBilling(productGet)">
                </div>
              </div>
              <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce,
                backdropBackgroundColour: 'rgba(190,190,186,0.3)', backdropBorderRadius: '10px',
                primaryColour: '#1D72EC', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }">
              </ngx-loading>
              <div class="billing">
                <table class="table table-striped">
                  <thead>
                    <th scope="col">Producto</th>
                    <th scope="col" class="quy-th">Cantidad</th>
                    <th scope="col" class="size-th">Talla</th>
                    <th scope="col" class="total-th">Precio</th>
                    <th scope="col"></th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let productBill of arrayBilling">
                      <td>{{productBill.name}}</td>
                      <td>{{productBill.pivot.amount}}</td>
                      <td>{{productBill.pivot.size}}</td>
                      <td>₡ {{productBill.pricePublic * productBill.pivot.amount | number: "3."}}</td>
                      <td>
                        <input style="color: white;" type="button" class="btn btn--blue btn--pill"
                        value="Eliminar" (click)="detachProductBilling(productBill)">
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h3>Total: ₡ {{billing.price | number: "3."}}</h3>
              </div>
              <input style="color: white;" type="button" class="btn btn--green btn--pill"
              value="Facturar" data-toggle="modal" data-target="#Factu">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fadeInDown" id="Factu" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content wrapper" id="formContent" role="document">
    <div class="modal-header first">
      <i class="fa fa-times close" data-dismiss="modal"></i>
      <h2 id="modalLabel">Información de Factura</h2>
    </div>
    <div class="modal-body fadeIn second">
      <form id="FormFactu">
        <!--<img src="assets/Images/Logo.png" style="width: 15%; height: 15%; position: relative; left: -35%;" alt="">-->
        <div class="input-group-desc">
          <h4 style="text-align: left;"><strong>Nombre:</strong> {{billing.client}}</h4>
          <h4 style="text-align: left;"><strong>Teléfono:</strong> {{billing.phone}}</h4>
          <h4 style="text-align: left;"><strong>Correo Eléctronico:</strong> {{billing.email}}</h4>
          <h4 style="text-align: left;"><strong>Dirección:</strong> {{billing.address}}</h4>
          <h4 style="text-align: left;"><strong>Dirección Domicilio:</strong> {{billing.addressDetail}}</h4>
        </div>
        <div class="date">
          <h4 style="text-align: right;"><strong>Fecha:</strong> {{date}}</h4>
        </div>
        <div class="productList">
          <table class="table table-striped">
            <thead>
              <th scope="col">Producto</th>
              <th scope="col" class="quy-th">Cantidad</th>
              <th scope="col" class="size-th">Talla</th>
              <th scope="col" class="total-th">Precio</th>
            </thead>
            <tbody>
              <tr *ngFor="let productBill of arrayBilling">
                <td>{{productBill.name}}</td>
                <td>{{productBill.pivot.amount}}</td>
                <td>{{productBill.pivot.size}}</td>
                <td>{{productBill.pricePublic * productBill.pivot.amount | number: "3."}}</td>
              </tr>
            </tbody>
          </table>
          <h3 style="text-align: right;">Total: {{billing.price | number: "3."}}</h3>
        </div>
        <input style="color: white;" type="button" class="btn btn--green btn--pill"
        value="Emitir Factura" (click)="PrintDoc()">
      </form>
    </div>
  </div>
</div>
<div class="modal fadeInDown" id="clientList" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-content wrapper" id="formContent" role="document">
    <div class="modal-header first">
      <i class="fa fa-times close" data-dismiss="modal"></i>
      <h2 id="modalLabel">Lista de Clientes</h2>
    </div>
    <div class="modal-body fadeIn second">
      <div class="search-product">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchClient" autocomplete="off"
          placeholder=" &#61442; Buscar...">
      </div>
      <pagination-controls class="my-pagination" (pageChange)="pClient = $event">
      </pagination-controls>
      <table class="table table-striped table-phone">
        <thead>
          <th scope="col">Nombre</th>
          <th scope="col">Teléfono</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter: searchClient | paginate: { itemsPerPage: 12, currentPage: pClient }">
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
              value="Agregar" (click)="selectClient(client)" data-dismiss="modal"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped table-pc">
        <thead>
          <th scope="col">Nombre</th>
          <th scope="col">Correo Electrónico</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Dirección</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter: searchClient | paginate: { itemsPerPage: 12, currentPage: pClient }">
            <td>{{client.name}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.address}}</td>
            <td><input style="color: white;" type="button" class="btn btn--blue btn--pill"
              value="Agregar" (click)="selectClient(client)" data-dismiss="modal"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


