.main{
	padding-top: 3%;
}
/*------- Start Bread Crumb --------*/
.organic-bread {
	margin-bottom: 100px;
	margin-top:100%;
}

.breadcrumb-banner {
	padding: 80px 0 50px 0;
}

h1 {
	font-family: 'Calistoga', cursive;
}

.breadcrumb .breadcrumb-item a {
	color: azure;
	text-decoration: none;
}

.breadcrumb .breadcrumb-item a:hover {
	color: rgb(198, 206, 206);
}

.catalogue{
	position: relative;
	left: -1.2%;
	padding-top: 6%;
	width: 102.3%;
	color: azure;
	/*background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
  background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);*/
  background-image: url('/assets/Images/background.jpg');
}

.breadcrumb-item{
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

h3{
	color: #ccc;
}

.type{
	padding-top: 5%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

.breadcrumb{
	background: #ffffff00;
	font-weight: bold;
}

.product-item{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.row{
	display: block;
}

.list-items{
	padding-top: 4%;
	padding-left: 12%;
	padding-right: 6%;
	padding-bottom: 5%;
}

span{
	font-size: 18px;
	font-weight: bold;
}

.col-md-3{
	padding-bottom: 2%;
}

.logoStyle{
	width: 50px;
	height: 50px;
}

.modal-title{

	font-size: 20px;
}

.close{
	position: absolute;
	top: 7%;
	right: 5%;
}

.login-form{
	position: relative;
	top:  20%;
	left: 20%;

	text-align: center;
}

.registerText{
	margin-top: 10px;
	text-align: center;
}

.txtb{
	display: block;
	box-sizing: border-box;
	width: 300px;
	background: #dcdde1;
	border: 1px solid #636e72;
	padding: 10px 20px;
	outline: none;
	margin: 10px 0;
	border-radius: 6px;
	text-align: center;
}

.loginbtn{
	width: 300px;
	color: white;
	background: #353b48;
	border: 0;
	padding: 10px;
	border-radius: 6px;
	cursor: pointer;
	position: absolute;
	left: 0;
}

.loginbtn:hover{
	color: #333;
	background:#dcdde1;
	transition: 0.4s linear;
}

.register{
	color: #273c75;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}
.register:hover{
	color:#3498db;
	transition: 0.4s linear;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
   .btnfile {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
  }

  .btn-secondary{
    margin-top: 10%;
  }

  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .btn--radius-2 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .btn--green {
    background: #57b846;
    color: white;
  }

  .btn--green:hover {
    background: #4dae3c;
  }

  .btn--blue {
    background: #4272d7;
  }

  .btn--blue:hover {
    background: #3868cd;
  }

  .btn--red {
    background: #ff4b5a;
  }

  .btn--red:hover {
    background: #eb3746;
  }

/*======================================================
	#MODALIMAGE
========================================================*/

.modal {
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 615px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.modal .fa-cloud-download-alt {
	position: absolute;
  	top: 15px;
  	right: 85px;
  	color: #f1f1f1;
  	font-size: 40px;
  	font-weight: bold;
  	transition: 0.3s;
}

.modal .fa-cloud-download-alt {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* Add Animation */
.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/*=====================================================
  #CATEGORY_PAGE
=======================================================*/

.filter-widget {
  margin-bottom: 50px;
}

.filter-widget .fw-title {
	font-size: 18px;
	font-weight: 700;
	color: #414141;
	text-transform: uppercase;
  margin-bottom: 6px;
}

.category-menu {
	list-style: none;
}

.category-menu li {
	background: transparent;
}

.category-menu li a {
	display: block;
	position: relative;
	font-size: 12px;
	color: #414141;
	border-bottom: 1px solid #ebebeb;
	padding: 12px 0 5px 20px;
}

.category-menu li a span {
	float: right;
	font-size: 12px;
}

.category-menu li a:after {
	position: absolute;
	content: "";
	width: 9px;
	height: 9px;
	left: 0;
	top: 13px;
	border: 1px solid #37AEFA;
	border-radius: 50%;
}

.category-menu linear a:hover {
	color: #37AEFA;
}

.category-menu li a:hover:after {
	background: #37AEFA;
}

.category-menu li a:last-child a {
	margin-bottom: 0;
}

.category-menu li .sub-menu {
	list-style: none;
	overflow: hidden;
	height: 0;
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg);
	opacity: 0;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.category-menu li .sub-menu li a {
	padding-left: 45px;
}

.category-menu li:hover>a {
	color: #37AEFA;
	cursor: pointer;
}

.category-menu li.active>.sub-menu {
	display: block;
	height: auto;
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.price-range-wrap .price-range {
	border-radius: 0;
	margin-right: 13px;
	margin-bottom: 28px;
}

.price-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #ebebeb;
	height: 2px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
	background: #ebebeb;
	border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
	background: #414141;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	border: none;
	background: #414141;
	height: 14px;
	width: 14px;
	outline: none;
	top: -6px;
	cursor: ew-resize;
	margin-left: 0;
	border-radius: 0;
	border-radius: 20px;
}

.price-range-wrap .price-range .ui-slider-handle.ui-corner-all.ui-state-default span {
	position: absolute;
	font-size: 14px;
	top: 35px;
}

.price-range-wrap .range-slider {
	color: #444444;
	margin-top: 22px;
}

.price-range-wrap {
	/*border-bottom: 2px solid #ebebeb;*/
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.price-range-wrap h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	margin-bottom: 45px;
}

.price-range-wrap .range-slider .price-input input {
	color: #444444;
	border: none;
	outline: none;
	max-width: 80px;
	pointer-events: none;
}

.price-range-wrap .range-slider .price-input input:nth-child(1) {
	float: left;
}

.price-range-wrap .range-slider .price-input input:nth-child(2) {
	float: right;
}

.fw-color-choose,
.fw-size-choose {
	/*border-bottom: 2px solid #ebebeb;*/
	padding-bottom: 40px;
	margin-bottom: 50px;
}

.fw-color-choose .cs-item {
	display: inline-block;
	position: relative;
	margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
	margin-right: 0;
}

.fw-color-choose label {
	width: 26px;
	height: 26px;
	border-radius: 50px;
	background: #333;
	position: relative;
	cursor: pointer;
}

.fw-color-choose label.cs-gray {
	background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
	background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
	background: #6f91ff;
}

.fw-color-choose label.cs-green {
	background: #8fc99c;
}

.fw-color-choose label.cs-purple {
	background: #bc83b1;
}

.fw-color-choose label.cs-blue {
	background: #9ee7f4;
}

.fw-color-choose label span {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45px;
	font-size: 11px;
	color: #414141;
}

.fw-color-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-color-choose input[type=radio]:checked+label {
	-webkit-box-shadow: 0 0 0 2px #37AEFA;
	box-shadow: 0 0 0 2px #37AEFA;
}

.fw-color-choose input[type=radio]:checked+label span {
	color: #b09d81;
}

.fw-size-choose .sc-item {
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

.fw-size-choose label {
	display: inline-block;
	height: 30px;
	min-width: 30px;
	text-align: center;
	font-size: 14px;
	color: #414141;
	font-weight: 500;
	cursor: pointer;
	border-radius: 50px;
	padding: 7px 6px 0;
}

.fw-size-choose input[type=radio] {
	visibility: hidden;
	position: absolute;
}

.fw-size-choose input[type=radio]:checked+label {
	background: #37AEFA;
	color: #fff;
}

/*===========================================================
   FILTER
 ============================================================
*/

/*--------- Start Filter Bar -----------*/
.filter-bar {
	padding: 0px 20px 10px 20px;
}

.grid-btn, .list-btn{
	margin-top: 10px;
	width: 40px;
	line-height: 40px;
	border: 1px solid #eee;
	text-align: center;
	margin-right: 10px;
}

.list-btn {
	color: #333;
}

.list-btn:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	color: white;
}

.arrow:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	color: white;
}

.active {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	color: white;
}

.grid-btn, .list-btn, i {
	display: inline-block;
}

.sorting {
	margin-top: 10px;
	margin-right: 10px;
}

.pagination {
	margin-top: 10px;
	border-left: 1px solid #eee;
	border-radius: 0px;
	margin-left: 20%;
}

.pagination a {
	width: 40px;
	line-height: 40px;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	color: #333;
	text-align: center;
	display: inline-block;
	background: white;
}

.pagination a:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	color: white;
	text-decoration: none;
}

.pagination .active:hover {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	border: 1px solid transparent;
	color: white;
	text-decoration: none;
}

.pagination .dot-dot {
	width: auto;
	background: transparent;
	border-top: 0px;
	border-bottom: 0px;
	color: #cccccc;
	padding: 0 5px;
}

.pagination .dot-dot:hover {
	background: transparent;
	border: 0px;
	border-right: 1px solid #eee;
	color: #cccccc;
}

/*--------- End Filter Bar -----------*/

/*---------productList-----*/

.category-list {
  margin-top: -50px;
}

.pb-40 {
	padding-bottom: 40px;
}

.single-product {
	margin-right: 0%;
	margin-bottom: 0%;
}

.single-product .price h3 {
	font-weight:700;
	color: #232323;
}

.price h5{
	margin-top:15px;
	margin-bottom:-17px;
  font-weight: bold;
  font-size: 10px;
	font-family: 'Poppins', sans-serif;
}

.content-image{
  width: 70%;
  height: 70%;
}

.content {
	position: relative;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
}

.content .content-overlay {
	background-color: black;
	position: absolute;
	left: -10px;
	top: -10px;
	width: 70%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.content-title{
	font-size:18px;
	color: white;
	font-weight:500;
}

.content-details {
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	position: absolute;
	padding-left: 1em;
	padding-right: 1em;
	top: 50%;
	left: 35%;
	opacity: 0;
	text-align: center;
	width: 65%;
	color:azure;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
	top: 50%;
	left: 36%;
	opacity: 1;
}

.content .content-details p {
	color: #fff;
	font-size: 0.8em;
}

.fadeIn-bottom{
	top: 20%;
}

.content .content-overlay {
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }

.content-overlay{
	margin: 10px;
}

.content:hover .content-overlay{
	opacity: .5;
}

.bottom {
	transition: (all .3s linear);
	text-decoration: none;
	background: -webkit-gradient(linear, left bottom, right top, from(#47c4f1), to(#b92ff8));
	background: -o-linear-gradient(bottom left, #3dc2f3 0%, #c85afc 100%);
	background-image: -moz-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: -webkit-linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
	background-image: linear-gradient( 45deg, rgb(51, 182, 243) 0%, rgb(111, 155, 250) 45%, rgb(180, 63, 248) 100%);
}

.bottom a {
	display: inline-block;
	width: 33%;
	line-height: 40px;
	text-align: center;
	color: white;
}

.bottom {
	margin-left: -10%;
}

.bottom a:hover {
	background: white;
	color:#232323;
	box-shadow: 2.828px 2.828px 15px 0px rgba(0, 0, 0, 0.1);
}

.bottom a span {
	color: white;
}

/*--------- End productList-----*/

/*==============================================
  #filter
==================================================*/
/* filter price */
.filter-price {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-title {
  position: relative;
  color: #646464;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-field {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 21px;
}

.price-field input[type=range] {
  position: absolute;
}

/* Reset style for input range */
.price-field input[type=range] {
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}

/* 2 cái nút tròn và các trình duyệt hỗ trợ */
.price-field input[type=range]::-webkit-slider-thumb {
  /* WebKit/Blink */
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-top: -5px;
  background-color: rgb(61, 226, 255);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-moz-range-thumb {
  /* Firefox */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-top: -5px;
  background-color: rgb(61, 226, 255);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

.price-field input[type=range]::-ms-thumb {
  /* IE */
  position: relative;
  appearance: none;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-top: -5px;
  background-color: rgb(61, 226, 255);
  cursor: pointer;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}

/* thanh trượt kéo */
.price-field input[type=range]::-webkit-slider-runnable-track {
  /* WebKit/Blink */
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgb(61, 226, 255);
  border-radius: 5px;
}

.price-field input[type=range]::-moz-range-track {
  /* Firefox */
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgb(61, 226, 255);
  border-radius: 5px;
}

.price-field input[type=range]::-ms-track {
  /* IE */
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgb(61, 226, 255);
  border-radius: 5px;
}

.price-wrap {
  display: inline-flex;
  color: #646464;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  float: left;
  padding-top: 11px;
}

.two_sidebar button {
  float: right;
  font-size: 12px;
  color: white;
  background: #222222;
  border: none;
  padding: 11px 15px 11px 22px;
  font-weight: bold;
}
.two_sidebar button:focus {
  outline: none;
}

.price-wrap_line {
  margin: 0px 7px;
}

.price-wrap #one,
.price-wrap #two {
  width: 35px;
  text-align: right;
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  outline: 0;
  color: #646464;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
}

.price-wrap label {
  text-align: right;
}

/* Style for active state input */
.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #fff;
  transition-duration: 0.3s;
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px #fff;
  transition-duration: 0.3s;
}

/* filter price */
.sidebar_categorie_grid .two_sidebar h3 {
  font-size: 13px;
  color: #424242;
  margin: 0;
  font-weight: bold;
  padding-bottom: 21px;
}
/*==================================================
  #select
====================================================*/

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}

h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
p {
  margin-top: 200px;
}
p a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: rgb(197, 195, 195);
  padding: 5px 10px;
  margin: 0 5px;
  background-color: darken(#c0392b, 2);
  @include transition(all 0.2s ease-in);
}

p a:hover {
  background-color: darken(#c0392b, 5);
}
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color:rgb(197, 195, 195);
  width: 220px;
  height: 40px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c0392b;
  padding: 8px 15px;
  @include transition(all 0.2s ease-in);



}

.select-styled:hover {
  background-color: darken(#c0392b, 2);
}

.select-styled:active, .select-styled .active {
  background-color: darken(#c0392b, 5);
}

.select-styled:after {
  top: 9px;
  border-color: transparent transparent rgb(197, 195, 195) transparent;
}

.select-styled:after {
  content:"";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: rgb(197, 195, 195) transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken(#c0392b, 5);
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid darken(#c0392b, 10);
  @include transition(all 0.15s ease-in);
}
.select-options li:hover {
  color: #c0392b;
  background: rgb(197, 195, 195);
}
.select-options li[rel="hide"] {
  display: none;
}

.filter-mobile, .dptForMobile
{
  display: none;
}

/*===============================================================================
     #loading
================================================================================*/

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.nextPage {
  margin-left: 70%;
}

/*====================================================
======================================================*/


@media (max-width: 767px){
	.single-product{
		text-align: center;
	}
	.catalogue{
		padding-left: 1%;
    padding-top: 34%;
	}
	.type{
		padding-top: 5%;
		padding-left: 2%;
  }

  .nextPage {
    margin-left: 62%;
  }

  .content .content-overlay {
	/*left: 37px;*/
	left: -2px;
	width: 90%;
  }
  .category-list {
    margin-top: -21px;
  }
  .content-details {
    left: 50%;
    width: 83%;
  }
  .content-image{
	  width: 89%;
  }
  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  .single-product .price {
    margin-left: -3%;
  }

	.modal .modal-content{
		margin-top: 40%;
		margin-right: 10%;
  }

  .productContainer {
    margin-top: 5%;
  }

  .filter-widget {
    display: none;
  }
  .filter-mobile, .dptForMobile
  {
    display: initial;
  }
}
