<header>
  <div *ngIf="shop_bool">
    <app-navbar-j></app-navbar-j>
  </div>
  <div *ngIf="!shop_bool">
    <app-navbar-b></app-navbar-b>
  </div>
</header>
<div id="main" class="main">
  <div class="container-fluid">
    <div class="col-lg-6 catalogue">
      <h2>Blusas</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="Home/BJem"><i class="fas fa-home">Inicio</i></a>
          </li>
          <li (click)="backClicked()" class="breadcrumb-item"><a> Damas</a></li>
          <li class="breadcrumb-item active" aria-current="page">Blusas</li>
        </ol>
      </nav>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 list-items">
        <div class="row">
          <div class="col-xs-5 col-md-3">
            <a href="#">
              <img
                src="assets/Images/cat%C3%A1logo/Damas/blu1.jpg"
                class="img-responsive"
                alt=""
              />
            </a>
            <h4>Blusa de rayas</h4>
            <span>₡ 12.000</span><br />
            <a href="#" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Ver</a>
          </div>
          <div class="col-xs-5 col-md-3">
            <a href="#">
              <img
                src="assets/Images/cat%C3%A1logo/Damas/blu2.jpg"
                class="img-responsive"
                alt=""
              />
            </a>
            <h4>Blusa 2</h4>
            <span>₡ 9.000</span><br />
            <a href="#" class="btn btn-success"
              ><i class="fa fa-shopping-cart"></i> Ver</a
            >
          </div>
          <div class="col-xs-5 col-md-3">
            <a href="#">
              <img src="assets/Images/cat%C3%A1logo/Damas/blu3.jpg" class="img-responsive"alt=""/>
            </a>
            <h4>Blusa 3</h4>
            <span>₡ 10.000</span><br />
            <a href="#" class="btn btn-success"
              ><i class="fa fa-shopping-cart"></i> Ver</a
            >
          </div>
          <div class="col-xs-5 col-md-3">
            <a href="#">
              <img src="assets/Images/cat%C3%A1logo/Damas/blu4.jpg" class="img-responsive" alt=""/>
            </a>
            <h4>Blusa 4</h4>
            <span>₡ 8.5000</span><br />
            <a href="#" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-whatsapp></app-whatsapp>
</div>
<footer>
  <app-footer></app-footer>
</footer>
