<div class="page-wrapper bg-gra-03">
    <app-navbaradmin></app-navbaradmin>
    <div class="wrapper wrapper--w1850">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Lista de todas las Imagenes</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <pagination-controls class="my-pagination" (pageChange)="p = $event">
                        </pagination-controls>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Imagenes</th>
                              <th scope="col">Nombre de la ruta</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let image of listImage | paginate: { itemsPerPage: 15, currentPage: p }">
                              <td>
                                  <img style="width: 40px; height: 50px; " [src]="image.photo" alt="">
                              </td>
                              <td><p>{{image.photo}}</p></td>
                              <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" (change)="addToDownload(image)" id="customCheck1">
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button class="btn btn-blue" (click)="download()">Descargar</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>