<div id="notfound">
	<div class="notfound-bg">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="notfound">
		<div class="notfound-404">
			<h1>404</h1>
		</div>
		<h2>Pagina no encontrada</h2>
		<p>La pagina que buscas no esta disponible o ya fue eliminada.</p>
		<a (click)="backClicked()">Regresar</a>
		<div class="notfound-social">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-pinterest"></i></a>
			<a href="#"><i class="fab fa-google-plus-g"></i></a>
		</div>
	</div>
</div>