<div class="page-wrapper bg-gra-03">
  <app-navbaradmin></app-navbaradmin>
  <div class="wrapper wrapper--w1100">
    <div class="card card-5">
      <div class="card-heading">
      <h2 class="title">¡Bienvenida Jennifer!</h2>
      </div>
      <div class="card-body">
        <div class="formgroup">
          <form class="form-group">
            <div class="row">
              <div class="col-lg-9">
                <h3>Cambio de contraseña</h3>
                <div class="input-group-desc">
                  <h4>Contraseña pasada: </h4>
                  <input *ngIf="showNewPass" class="input--style-5" name="oldPassword" #oldPassword="ngModel"
                  [(ngModel)]="changePass.oldPass" type="text">
                  <input *ngIf="!showNewPass" class="input--style-5" name="oldPassword" #oldPassword="ngModel"
                  [(ngModel)]="changePass.oldPass" type="password">
                </div>
                <div class="input-group-desc">
                  <h4>Nueva contraseña: </h4>
                  <input *ngIf="showNewPass" class="input--style-5" name="newPassword" #newPassword="ngModel"
                  [(ngModel)]="changePass.newPass" type="text">
                  <input *ngIf="!showNewPass" class="input--style-5" name="newPassword" #newPassword="ngModel"
                  [(ngModel)]="changePass.newPass" type="password">
                  <p *ngIf="secureBool" style="color: red; font-weight: bold; margin-bottom: 1%;">
                    Verifica que los campos sean los correctos
                  </p>
                </div>
                <div class="input-group-desc">
                  <h4>Repite la nueva la contraseña: </h4>
                  <input *ngIf="showNewPass" class="input--style-5" name="rePassword" #rePassword="ngModel"
                  [(ngModel)]="changePass.rePass" type="text">
                  <input *ngIf="!showNewPass" class="input--style-5" name="rePassword" #rePassword="ngModel"
                  [(ngModel)]="changePass.rePass" type="password">
                  <p *ngIf="secureBool" style="color: red; font-weight: bold; margin-bottom: 1%;">
                    Verifica que los campos sean los correctos
                  </p>
                  <div class="icon">
                    <a (click)="showPass()">
                      <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <div class="input-group-desc">
                  <input style="color: white;" type="button" class="btn btn--green btn--pill"
                  value="Guardar" data-toggle="modal" data-target="#successPassModal" (click)="savePass()">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="successPassModal" tabindex="-1" role="dialog" aria-labelledby="successPassModalLabel" aria-hidden="true">
  <div class="Modal text-center">
    <div class="ModalHeader">
    </div>
    <div class="ModalBody text-center center-block">
      <div class="icon text-center">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <h3>Contraseña restablecida</h3>
    </div>
    <div class="modal-footer">
      <input style="color: white;" type="button" class="btn btn--green btn--pill"
      value="¡Listo!" data-dismiss="modal">
    </div>
  </div>
</div>
