<header>
    <div *ngIf="shop_bool"><app-navbar-j></app-navbar-j></div>
    <div *ngIf="!shop_bool"><app-navbar-b></app-navbar-b></div>
  </header>
  <div id="main" class="main">
    <div class="container-fluid">
      <div class="col-lg-12 catalogue">
        <div class="container">
          <h1>Caballeros</h1>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(3)">
              <img src="assets/Images/view_categorias/caballeros/3786b18a-7c17-44f4-91dc-402a89e448e3.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Camisas</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(2)">
              <img src="assets/Images/view_categorias/caballeros/6423fbd6-bb1c-4c2b-a9d4-ddbf4faf54a9.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Levis de Hombre</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(5)">
              <img src="assets/Images/view_categorias/caballeros/ab22547f-d371-4af4-9ff0-c223de16f027.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Camisetas</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(1)">
              <img src="assets/Images/view_categorias/caballeros/40d70506-41d1-4e13-ba4c-252d2fe20c91.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Pantalones</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(9)">
              <img src="assets/Images/view_categorias/caballeros/e47fe4d4-8d2e-4bc2-b510-6d61f271c1c9.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Zapatos</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(6)">
              <img src="assets/Images/view_categorias/caballeros/a8732877-3c42-4321-ac88-4a3175b398f7.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Abrigos</h3>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="catego">
            <div class="imgbox" (click)="toggleBtn(8)">
              <img src="assets/Images/view_categorias/caballeros/e11b3749-0cba-4bc2-a9af-c301255f1a5f.jpg" alt=""
              class="imgcatego">
            </div>
            <div class="details">
              <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Accesorios</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>  
  <footer> 
    <app-footer></app-footer>
  </footer>
  