<header>
  <div *ngIf="shop_bool"><app-navbar-j></app-navbar-j></div>
  <div *ngIf="!shop_bool"><app-navbar-b></app-navbar-b></div>
</header>
<div id="main" class="main">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Niños</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(1)">
            <img src="assets/Images/view_categorias/niños/7ce9323e-a4ee-47e8-b4cb-3d47f9953c21.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Mameluco</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(2)">
            <img src="assets/Images/view_categorias/niños/b5e6814c-f432-4dcf-886a-5c167e355d63.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Accesorio</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(3)">
            <img src="assets/Images/view_categorias/niños/08a2c652-c2f9-4786-8894-8bb984bc7d5a.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Camiseta</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(4)">
            <img src="assets/Images/view_categorias/niños/ff022b5e-6153-4c7d-9160-2e70aa7aeed1.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Camisa</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(5)">
            <img src="assets/Images/view_categorias/niños/0352eadd-dbb4-416b-bad8-b3d7311325a5.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Short</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(6)">
            <img src="assets/Images/view_categorias/niños/872778b2-ec60-4187-9962-7cad89968b56.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Conjunto</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(9)">
            <img src="assets/Images/view_categorias/niños/6ef6cb0a-24b2-41f6-acae-4281e2f0538f.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Abrigos</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(8)">
            <img src="assets/Images/view_categorias/niños/ab1d53a6-96b5-4e2f-a0d2-c025c9a423b1.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Pantalones</h3>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="catego">
          <div class="imgbox" (click)="toggleBtn(7)">
            <img src="assets/Images/view_categorias/niños/132b3d5d-f728-4869-a1fd-3f0889ae7694.jpg" alt=""
            class="imgcatego">
          </div>
          <div class="details">
            <h3 style="font-weight:bold; color: rgb(46, 46, 46);">Pijama</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--<div id="main" class="main">
  <div class="container-fluid">
    <div class="col-lg-12 catalogue">
      <div class="container">
        <h1>Niños</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Home/BJem"><i class="fas fa-home">Inicio</i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Niños</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-11 types">
        <div class="row">
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(1)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewMameluco[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewMameluco[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewMameluco[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Mameluco</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(2)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewAcc[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewAcc[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewAcc[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Accesorio</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewCamiseta[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camiseta</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewCamiseta[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camiseta</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewCamiseta[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camiseta</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewCamisa[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisa</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewCamisa[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisa</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewCamisa[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Camisa</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewShort[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Short</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewShort[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Short</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewShort[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Short</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewConjunto[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewConjunto[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewConjunto[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Conjunto</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewSueter[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueter</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewSueter[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueter</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewSueter[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Sueter</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewPantalones[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPantalones[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPantalones[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pantalones</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xs-3 col-md-3 list-items">
            <a class="carruselHover" (click)="toggleBtn(3)">
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img [src]="photoViewPijama[0]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPijama[1]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                  <div class="item active">
                    <img [src]="photoViewPijama[2]" class="img-responsive" alt="">
                    <div class="carousel-caption">
                      <h3>Pijama</h3>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<footer>
  <app-footer></app-footer>
</footer>
