ul { list-style: none; }
ul>li>a {
color: grey;
text-decoration: none;
line-height: 1.8;
}
ul>li>a:hover,
a:hover{
color: #f51167;
font-weight: 500;
}

.col-heading {
display: block;
font-size: 2rem;
text-transform: uppercase;
color:#304f50;
font-weight: 500;
margin: 1rem 0;
padding: .4rem 0px;
border-bottom: 1px solid #c7c7c7;
letter-spacing: 3px;
}

.fab {
color: #304f50;
margin-right: 10px;
font-size:18px;
width:2.25rem;
}
.fa {
color: #304f50;
margin-right: 10px;
font-size:18px;
width:2.25rem;
}
#to-top {
display: none;
position: fixed;
bottom: 40px;
right: 20px;
font-size: 18px;
border: none;
outline: none;
background-color: #304f50;
color: white;
padding: 15px;
border-radius: 14px;
cursor: pointer;
z-index: 99;
}
#to-top:hover {
background-color: #555;
}

#bottom-footer {
background-color:cadetblue;
color:white;
margin-top: 2rem;
padding-top: .3rem;
}
.vertical-links>li {
display: inline-block;
vertical-align: text-bottom;
}
.vertical-links>li>a {
color: white;
font-weight: 400;
margin-left: 1rem;
list-style-type:square;
}

.contact {
    cursor:pointer;
}

/*==============================================
  #Accordion
================================================*/

.accordion-area {
	margin-top: 50px;
	border-top: 2px solid #e1e1e1;
}

.accordion-area .panel {
	border-bottom: 2px solid #e1e1e1;
}

.accordion-area .panel-link {
	background-image: url("https://icon-library.net/images/arrow-down-image-icon/arrow-down-image-icon-12.jpg");
	background-repeat: no-repeat;
	background-position: right 10px top 30px;
}

.faq-accordion.accordion-area .panel-link,
.faq-accordion.accordion-area .panel-link.active.collapsed {
	padding: 17px 100px 17px 20px;
}

feature-inner
.faq-accordion.accordion-area .panel-link:after {
	right: 44px;
}

.accordion-area .panel-link.active {
	background-color: transparent;
}

.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed {
	text-align: left;
	position: relative;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #414141;
	padding: 0;
	text-transform: uppercase;
	line-height: 1;
	cursor: pointer;
	border: none;
	min-height: 69px;
	background-color: transparent;
	border-radius: 0;
}

.accordion-area .panel-body {
	padding-top: 10px;
}

.accordion-area .panel-body p {
	color: #8f8f8f;
	margin-bottom: 25px;
	line-height: 1.8;
	text-align: justify;
}

.accordion-area .panel-body p span {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f51167;
}

.accordion-area .panel-body img {
	margin-bottom: 25px;
}

.accordion-area .panel-body h4 {
	font-size: 18px;
	margin-bottom: 20px;
}

.panel-body a {
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f51167;
	text-decoration: none;
}

.panel-header i {
	padding-right: 20%;
}

.gallery {
	display: inline-block;
}


/*==================================================================
  #TERMS
===================================================================*/
.termStyle {
    padding: 11px 20px 13px;
    text-align: justify;
  }


  @media (max-width: 1440px) {
    .main {
      margin-top: 30%;
    }
  
    .select select  {
      display: initial;
    }
  
    .fieldset-expiration {
      float: left;
    }
  
    .col-md-12 h4 {
      display: none;
    }
  
    .credit-card-box{
      width: 359px;
      top: -88px;
    }
  
    .front, .back {
      width: 359px;
      height: 247px;
    }
  
    .checkout {
      width: 360px;
    }
  
    .form .select {
      width: 121px;
    }
  }
  
  
  @media (max-width: 767px) {
    .main {
      margin-top: 30%;
    }
  
    .select select  {
      display: initial;
    }
  
    .fieldset-expiration {
      float: left;
    }
  
    .col-md-12 h4 {
      display: none;
    }
  
    .credit-card-box{
      width: 359px;
      top: -88px;
    }
  
    .front, .back {
      width: 359px;
      height: 247px;
    }
  
    .checkout {
      width: 360px;
    }
  
    .form .select {
      width: 121px;
    }
  }
