<div class="container-fluid" style="background-color:#eff5f5;">
  <button onclick="topFunction()" id="to-top" title="Go to top">Top</button>
  <div class="row  row-no-gutters">
    <div class="col-xs-12 col-sm-6 col-md-3" >
      <ul>
        <li class="col-heading">Contactenos</li>
        <li>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a href="tel:99-999-999-9999">99-999-999-9999</a>
        </li>
        <li>
          <i class="fab fa-whatsapp" aria-hidden="true"></i>
          <a href="https://wa.me/50683995589" target="_blank">SMS Mensaje</a>
        </li>
        <li>
            <i class="fab fa-facebook-square" aria-hidden="true"></i>
            <a href="https://www.facebook.com/Bambu-Jeans-CR-2139032069474611/?ref=br_rs" target="_blank">
              Facebook
            </a>
          </li>
        <li>
          <i class="fab fa-instagram" aria-hidden="true"></i>
          <a href="https://www.instagram.com/bambu_jeans_cr/?hl=es-la" target="_blank">
            Instagram
          </a>
        </li> 
        <li (click)="gotoContact()">
          <i class="fa fa-envelope-square" aria-hidden="true"></i>
          <a (click)="gotoContact()" class="contact">Contactanos</a>  
        </li> 
      </ul>
    </div>     
    <div class="col-xs-12 col-sm-6 col-md-3" >
      <ul>
        <li class="col-heading">Nosotros</li>
        <li><a href="#">Nuestras políticas</a></li>
        <li><a href="#">Nuestro equipo</a></li>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
    </div>      
    <div class="col-xs-12 col-sm-6 col-md-3" >
      <ul>
        <li class="col-heading">Subheading</li>
        <li><a href="#">Link to page</a></li>
        <li><a href="#">Link to page</a></li>
        <li><a href="#">Link to page</a></li>
        <li><a href="#">Link to page</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3" >
      <ul>
        <li class="col-heading">Información</li>
        <li><a href="#">Métodos de pago</a></li>
        <li><a href="#">Política de retorno</a></li>
        <li><a href="#">Métodos de envios</a></li>
        <li><a href="#">Tiempos y costos de envios</a></li>
      </ul>
    </div>
  </div>
  <div class="row row-no-gutters" id="bottom-footer" >
    <div class="col-xs-12 col-md-12 text-center" >
      <ul>
        <li class="small">© Copyright 2019 Website by <a href="#" style="color:white;font-weight:500;">SPUC.Tech</a>. All Rights reserved.</li>
      </ul>
    </div>
  </div>
</div>