<!--<footer class="containfoot container-fluid navbar-fixed-bottom">
  <div class="row">
    <div class="footCol col-md-3">
      <h3>Contáctenos</h3>
      <ul class="list-inline">
        <li class="mediaS"><a href=""><i class="fa fa-envelope"></i></a></li>
        <li class="mediaS"><a href="https://wa.me/50683995589" target="_blank"><i class="fa fa-phone"></i></a> </li>
        <li class="mediaS"><a href="https://www.instagram.com/bambu_jeans_cr/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li class="mediaS"><a href="https://www.facebook.com/Bambu-Jeans-CR-2139032069474611/?ref=br_rs" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      </ul>
    </div>
  </div>
</footer>-->
<footer class="footer">
  <div class="foot">
    <h3>Contáctenos</h3>
    <ul class="list-inline">
      <li class="mediaS"><a href=""><i class="fa fa-envelope"></i></a></li>
      <li class="mediaS"><a href="https://wa.me/50683995589" target="_blank"><i class="fa fa-phone"></i></a> </li>
      <li class="mediaS"><a href="https://www.instagram.com/bambu_jeans_cr/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li class="mediaS"><a href="https://www.facebook.com/Bambu-Jeans-CR-2139032069474611/?ref=br_rs" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
    </ul>
    <hr>
  </div>
</footer>